[2020-09-09 09:24] zabil commented on #1494
@roughsoft can you please provide a sample project or at-least the html structure of the page you are trying to test so that someone can replicate this issue? Also please specify the node and Taiko versions.

I am closing this temporarily until more information to replicate this is available.
Will re-open this as soon as there is more info.

[2020-09-09 09:24] #1494 closed

[2020-09-09 10:34] #1477 closed

[2020-09-10 01:47] roughsoft commented on #1494
taiko :1.0.19
node:12.18.3
html structure:
<table>
<tbody>
<tr>
<td>1</td><td>2</td><td>3</td>
</tr>
<tr>
<td>0</td><td>0</td><td>0</td>
</tr>
<tr>
<td><input type=text name=f1></td><td><input type=text name=f2></td><td><input type=text name=f3></td>
</tr>
</tbody>
</table>

[2020-09-10 01:48] roughsoft commented on #1494
`<table>
<tbody>
<tr>
<td>1</td><td>2</td><td>3</td>
</tr>
<tr>
<td>0</td><td>0</td><td>0</td>
</tr>
<tr>
<td><input type=text name=f1></td><td><input type=text name=f2></td><td><input type=text name=f3></td>
</tr>
</tbody>
</table>`

[2020-09-10 01:48] roughsoft commented on #1494
<tbody>
<tr>
<td>1</td><td>2</td><td>3</td>
</tr>
<tr>
<td>0</td><td>0</td><td>0</td>
</tr>
<tr>
<td><input type=text name=f1></td><td><input type=text name=f2></td><td><input type=text name=f3></td>
</tr>
</tbody>
</table>

[2020-09-10 01:57] roughsoft commented on #1494
I want to select the input below "0" in first col.
So I try these:

write("8888",textBox(below(below("1"))))

I get these in console:

✘ Error: undefined not found, run .trace for more info.

[2020-09-10 01:57] roughsoft commented on #1494
@zabil

[2020-09-10 09:00] mhp-borisbojic commented on #1476
Please try out this form: https://login.porsche.com/login/gb/en_GB#

We're only able to click the buttons with this piece of code - this works without issues:

[code]

Whereas this doesn't work at all - it just doesn't go an further and waits endlessly for the click to happen:

[code]

Can I provide you with anything more?

[2020-09-10 19:33] bholya opened #1498 "Taiko + Gauge Error in Doker"
#736 # Expected behavior
We are using gauge and taiko with jenkin. On jenkin we use docker image to run frontend test.
Test should run stable and provide reports.

### Actual behavior
The JS-runner quits unexpectedly and test doesn't run on CI. No reports has been also generated.
The JS-runner _quits at different different step and different scenarios_.
The same tests are running multiple times on

[2020-09-10 19:59] falcon030 opened #1499 "The Taiko selectors checkBox and radioButton do not bubble the click event."
### Expected behavior
When I use radioButton().select() or checkBox.check() I expect the JavaScript `click` event to be triggered.

### Actual behavior
The JavaScript click event is not triggered, when  using radioButton().select() or checkBox.check().

This is probably caused by the fact that the setChecked function of the `radioButton` and `checkBox` API does not bubble the `click` event:
[code]

[2020-09-11 01:46] NivedhaSenthil commented on #1498
Can you please try launching browser with args suggested here https://docs.taiko.dev/frequently_asked_questions/#how-can-i-optimize-chrome-instances-for-parallel-runs%3F

[2020-09-11 06:06] NivedhaSenthil commented on #1476
Thanks, that was very helpful for understanding the issue. Fix done via https://github.com/getgauge/taiko/pull/1500, should be available i next release once reviewed and merged.

Meanwhile you could try installing from the branch.

[2020-09-11 06:15] NivedhaSenthil commented on #1480
This seems like a problem with waits since element on action is highlighted in headful mode it can take a little more time compared to headless mode, arbitrarily adding observeTime can heavily increase the test execution time. Please try waiting for proper events or states before an action, https://docs.taiko.dev/api/waitfor/

If you can provide us a sample we could try covering those cases in Tai

[2020-09-11 07:43] mhp-borisbojic commented on #1480
The example is again the same login form ;)

Please try out this form: https://login.porsche.com/login/gb/en_GB#

In headless mode (without using observe: true in the config), logging in in does not work because (for whatever reason) after the password was entered.

Using the observe: true config, it works as expected.

The code is the same as in https://github.com/getgauge/taiko/issues/1476#issue

[2020-09-14 03:45] saikrishna321 opened #1503 "closeBrowser throws error as browserProcess is undefined"
`openBrowser` API takes options to connect to the open instance of browser, which skips the launch of the browser in taiko.

When `closeBrowser` API is called the browerProcess is undefined and it fails.

Code to Reproduce:

1. Open chrome in debugging mode `/Users/git/taiko/.local-chromium/mac-796283/chrome-mac/Chromium.app/Contents/MacOS/Chromium --remote-debugging-port=9222`
2. Enter REPL.
3. o

[2020-09-14 05:25] #1476 closed

[2020-09-14 07:31] fmpanelli commented on #1465
It looks like it is working correctly in ver 1.0.23

Please confirm.

[2020-09-14 07:39] NivedhaSenthil commented on #1480
I could see that the page has lots of shadow dom contents to be loaded which takes time to get to right place, in headless mode since the execution is faster and elements are not in desired place I could see the actions are happening incorrectly.
When I waited for `firstMeaningfulPaint` which ensures page's primary content appeared on the screen as per heuristics [here](https://docs.google.com/doc

[2020-09-14 08:12] klhex commented on #1465
@fmpanelli Yes, button.exists() is now available and works as expected when writing tests in Typescript, grazie! 😃  This issue can be closed therefore. 👍

However, I've noticed that when typing "button." now you also get at least three functions offered (IntelliSense) that are probably not meant to be used in connection with  the button element: button.check(), button.uncheck(), button.isChecked()

[2020-09-14 08:41] mhp-borisbojic commented on #1480
Thank you! By adding `firstMeaningfulPaint`, it really fixes our issue. 🙂

[2020-09-14 08:47] NivedhaSenthil commented on #1480
Cool, closing this issue for now. Feel free to open new one if you face any problem

[2020-09-14 08:47] #1480 closed

[2020-09-14 12:03] fmpanelli commented on #1465
@klhex
You are correct. Thanks for telling me.
Actually it looks like the `ElementWrapper` interface defined in `index.d.ts` is wrong as it does not correctly represent the `ElementWrapper` class as defined in `./lib/elementWrapper/elementWrapper.js`.
I am fixing that right away.

[2020-09-14 16:00] fmpanelli commented on #1465
@klhex

PR #1507 should fix the remaining problems ElementWrappers.

[2020-09-15 00:14] rmallof opened #1509 "getMatchingInterceptor() @ fetchHandler.js crashes when calling decodeURI()"
Hi, first of all a big thank you for maintaining such a great project

### Expected behavior
getMatchingInterceptor() should handle different types of URL encodings

### Actual behavior
Exception is raised: "Exception has occurred: URIError: URI malformed"

### Steps to reproduce
TL;DR: URL 'https://bh.contextweb.com/bh/rtset?pid=557219&ev=1&rurl=https://simage2.pubmatic.com/AdServer/Pug?vcode=bz0

[2020-09-15 00:16] rmallof commented on #1509
Adding one more URL example triggering the exception:

`'https://bh.contextweb.com/bh/rtset?pid=558511&ev=1&rurl=https%3A%2F%2Fce.lijit.com/merge?pid=49&3pid=%%VGUID%%&gdpr=1&gdpr_consent=CO5wEyeO5wEyeDlBzAENA3CsAP_AAH_AACiQGktf_X_fb2vj-_599_t0eY1f9_63v-wzjheNs-8Nyd_X_L4Xv2MyvB36pq4KuR4ku3bBAQdtHOncTQmRwIlVqTLsbk2Mr7NKJ7LEmlsbe2dYGH9vn9XT_ZKZ70_v___7_3______77_-b_4GkkEmGpfAQJCWMBJNmlUKIEIVxIVAOACi

[2020-09-15 05:29] NivedhaSenthil commented on #1503
fixed via #1510

[2020-09-15 05:29] #1503 closed

[2020-09-15 08:52] patidar-jaishree opened #1511 "Proximity Selectors - Inside an element is missing"
### Expected behavior
As we have feature of Proximity Selectors - I should be able to use inside an element
For example: If I would like to see a text is appearing inside a form (when there are 2 forms on a webpage)

### Actual behavior
Currently available options for Proximity selectors are-
    toLeftOf, toRightOf, above, below, near

### Versions
Taiko - Version: 1.0.3 (Chromium: 79.0.3945.16)

[2020-09-15 10:55] NivedhaSenthil opened #1512 "check if element is connected and stable before performing action"
### Expected behavior
Taiko performs action on element that are ready

### Actual behavior
Actions are performed on elements that are not attached to shadowdom

### Steps to reproduce
Refer https://github.com/getgauge/taiko/issues/1480#issuecomment-691879061

### Versions
[code]

[2020-09-15 14:39] sofo506-maker opened #1514 "Failed to launch browser!"
Hi All,
I ran into this issue and not quite know how to resolve it. Any help would be appreciated.
### Expected behavior
Scripts are deployed and run headless on the bitbucket-pipline code commit.

### Actual behavior
+ /opt/atlassian/pipelines/agent/build/packages/server/app/tests/E2E/node_modules/taiko/.local-chromium/linux-800071/chrome-linux/chrome: error while loading shared libraries: libnss

[2020-09-15 14:49] zabil commented on #1514
There a section in the FAQ for this https://docs.taiko.dev/frequently_asked_questions/#i-have-a-few-issues-launching-the-browser-instance-in-linux

Please try installing all the dependencies to see if it fixes the issue.

[2020-09-15 14:49] #1514 closed

[2020-09-15 16:40] fmpanelli opened #1515 "Docs not showing in IntelliSense"
### Expected behavior
Since Taiko has support for Tyescript types, when editing in VS Code you will see IntelliSense suggestions for auto-completion including types for functions and arguments.
I would expect also the JSDoc comments that are found in `lib\taiko.js` to be shown.

E.g. for `openBrowser` I would expect a formatted version of the following to be shown when hovering the function name i

[2020-09-15 16:54] fmpanelli commented on #1515
### An unsustainable approach

A possible approach would be to copy the comments from `lib/taiko.js` to `types/taiko/index.d.ts`

That would create a huge duplication of information between the two files and make them practically un-mantainable.

### A more reasonable solution (but is it feasible?)

An alternative which I would like to explore is to automatically generate the `index.d.ts` from  `l

[2020-09-15 19:26] rmallof commented on #98
Hi @zabil @NivedhaSenthil

I'm testing the intercept functionality with the form at https://tryphp.w3schools.com/showphp.php?filename=demo_form_post while intercepting https://tryphp.w3schools.com/demo/welcome.php using:

[code]

I'm able to modify the parameters in request.request.postData but request.continue() is not taking effect - the data shown at https://tryphp.w3schools.com/showphp.php?fil

[2020-09-16 03:14] sriv commented on #1511
Can you share a html snippet illustrating where the proximity selector does not work? Thanks.

[2020-09-16 04:57] patidar-jaishree commented on #1511
Example - I want to asset a Company is available in both the tables
I was hoping to have an proximity Selector to say something like inside instead of above/below

[code]
Please let me know, in case more details are required.

[2020-09-16 07:20] flexin777 opened #1519 "checkbox($(locator)) does not work."
### Expected behavior
checkbox($(locator)).check() - method checkbox( ) should accept as input $(locator)

### Actual behavior
throws exception when use checkbox($(locator)).check()

### Steps to reproduce
1. Open Website with checkbox element
2. execute method checkbox($(locator)).check()
3.

### Versions
[code]

[2020-09-16 08:11] sriv commented on #1511
You can add a scope to the selector, ex: `text("Company", $("#CompanyTablePending"))` would select a text element inside table with id `CompanyTablePending`

[2020-09-16 09:44] NivedhaSenthil commented on #98
yes, I could see it is broken. Taking a look at it, thanks for reporting

[2020-09-16 10:48] zabil commented on #1515
Thanks for picking this up and for all those PR's to add TypeScript support such great effort.
Since I worked on setting up the documentation site I can add some context about document generation.

Taiko uses inline documentation to make documentation within the IDE's more accessible, this is important. The documentation at https://docs.taiko.dev/api/reference is parsed from JSDoc comment which ar

[2020-09-16 12:59] zabil commented on #1509
Just a note, both of these fail when using Node's `decodeURI`

[code]

[2020-09-16 15:19] navel3 commented on #1477
I can select elements in yahoo.com with the latest version.
Thank you.

[2020-09-16 16:45] rmallof commented on #98
Thanks @NivedhaSenthil. Please, let me know if I should open a new issue for this behavior

[2020-09-16 17:19] zabil commented on #98
@rmallof yes, that will be good.

[2020-09-16 18:45] rmallof opened #1520 "request.continue() in intercept does not update POST parameters"
### Expected behavior
The code below, using intercept and request.continue(), should intercept and overwrite POST request parameters

### Actual behavior
The code below successfully captures the POST request, but the modification has no effect - i.e., data reaching the server is the original one, not the overwritten by intercept

### Steps to reproduce
1. Use the intercept functionality with the f

[2020-09-16 18:45] rmallof commented on #98
Done: https://github.com/getgauge/taiko/issues/1520

Thanks @zabil @NivedhaSenthil !

[2020-09-16 20:17] davebneufeld opened #1521 "Website - Documentation - Misspelling"
URL: https://docs.taiko.dev/api/dismiss/

Error
"This API does not have any paramters"

Fix:
"This API does not have any parameters"

[2020-09-16 20:38] fmpanelli commented on #1515
@zabil Thanks for the advice. And thanks to the whole team for the open and welcoming attitude in this community.

I am experimenting on my machine to understand the process of the automatic generation of declaration files and it looks promising (and I hope I will be able to reuse all the type tests built with the previous PR's).

For sure some changes to the JSDodc comments are required generate

[2020-09-17 03:52] #1521 closed

[2020-09-17 04:54] hrishabhkumar opened #1524 "Control+a is not working.."
### Expected behavior
Tell us what should happen
 When I send taiko.press(["ControlLeft", "a"]) it should select all the text in input
### Actual behavior
Tell us what happens instead
When I send taiko.press(["ControlLeft", "a"]) it is not doing anything

### Versions
node: 12.13.0,
taiko: 1.0.22
[code]

[2020-09-17 06:05] NivedhaSenthil commented on #1519
checkBox does not accept another selector `$`, if you want to select using any attribute value pair you can pass them like below,

`await checkBox({'id':'something'}).exists()`

[2020-09-17 06:05] #1519 closed

[2020-09-17 07:05] flexin777 commented on #1519
So, I cannot use xpath, or css locator, am I right, @NivedhaSenthil ?

[2020-09-17 07:13] NivedhaSenthil commented on #1519
yes, only attribute value pair or label or proximity selector can be used.

[2020-09-17 07:15] NivedhaSenthil commented on #1520
Fixed via #1525

[2020-09-17 07:15] #1520 closed

[2020-09-17 09:21] zabil commented on #1524
This is not supported please refer https://github.com/getgauge/taiko/issues/192#issuecomment-428518608 for more info If you want to clear the text use https://docs.taiko.dev/api/clear/

[2020-09-17 09:21] #1524 closed

[2020-09-17 10:12] patidar-jaishree commented on #1511
I tried below code, it is not working for me. Please let me know if I am missing anything.
The element is existing and "smart selectors" text also.
[code]
<img width="1440" alt="Screen Shot 2020-09-17 at 3 39 34 PM" src="https://user-images.githubusercontent.com/41952531/93457110-40278400-f8fc-11ea-9d14-64708d677a44.png">

[2020-09-17 14:11] klhex commented on #1320
I think the following "black box" approach using the mighty proximity selectors should also work (at least for me it does):

1. Hover over the desired tooltip button by locating it via the proximity selectors. This should bring up the tooltip.
2. Assert on the existence of the tooltip's text content.

Example: Assume there's a tooltip button to the right of a text field whose heading is "Full Name

[2020-09-17 14:30] zabil commented on #1515
I used the sample above to generate the `api.json` using TypeScript style JSDoc

[code]
This is tough to parse as the info is not inside the scope of the parameters. However if I modify it to `@type` the documentation parser generates something that can easily be parsed

[code]

Generates

[code]

This should be easy to parse by the document generator. Do we really need to use @template? Shouldn't

[2020-09-17 14:32] hrishabhkumar opened #1526 "The element should be scrolled into view only if needed"
### Expected behavior
The element should be scrolled into view only if needed

### Actual behavior
It is trying to scroll the element to the center which is causing flicker on the website.

### Steps to reproduce
1. try to click when the element is in the view but not at the center.

### Versions
node: 12.13.0
taiko: 1.0.23

can we use element.scrollIntoView()?

[2020-09-17 16:33] fmpanelli commented on #1515
Mmmmhh... I start to get the picture...

Let me think about it for a few days... Maybe I can come up with actual code we can discuss.

[2020-09-18 05:59] #1498 closed

[2020-09-18 06:02] NivedhaSenthil commented on #1511
@patidar-jaishree yes selectors cannot be scoped like that, there is currently no way to do this except for using css selector or `near` proximity selector

[2020-09-18 06:18] NivedhaSenthil commented on #1526
can you please give an example for us to understand this scenario better? Taiko does use element.scrollIntoView() for scrolling before action

[2020-09-18 09:35] hrishabhkumar commented on #1526
Sorry I mean, can we use element.scrollIntoViewIfNeeded()?
I am unable to provide the URL as it is limited to our internal network.

[2020-09-20 05:29] saikrishna321 commented on #1494
write("8888",into(textBox(below(text("1")))))

Try 👆🏻

[2020-09-20 22:10] fmpanelli commented on #1515
I made some analysis and experimentation.

### What I understood

1. adding the infrastructure for the automatic generation of type declarations is rather easy
2. when you do that, you have JSDoc comments that are used at the same time to generate the types and to generate the documentation website
3. the comments of the apis in `taiko.js` and in the classes under `lib/` as they are today don't en

[2020-09-20 23:51] rmallof commented on #1520
@NivedhaSenthil good job, it's working now :)
Really appreciated!

[2020-09-21 03:34] saikrishna321 commented on #1356
@tymfear - Use the latest version for the below code to work.

[code]

[2020-09-21 03:34] #1356 closed

[2020-09-21 05:58] fmpanelli opened #1530 "API reference lacks return type for some functions"
### Expected behavior
Pages in [API reference](https://docs.taiko.dev/api/reference) should always show the return type if it is included in the JSDoc comment of the API.

E.g. `goto`  in the JSDoc has:
[code]

therefore the [refernce page](https://docs.taiko.dev/api/goto/) should show something like:

[code]

### Actual behavior

Instead the [refernce page for goto](https://docs.taiko.dev/api/got

[2020-09-21 08:59] zabil commented on #1515
👍 This sounds good.

[2020-09-23 05:55] saikrishna321 commented on #1511
@NivedhaSenthil I think this is very useful API to have in taiko. I use Taiko to automate legacy application which does not have enough unique locators. In lot of cases proximity selectors are saving us. We have a use case where we want to interact with a specific element which is within another element. For Ex: First Row and some element(The page has 30 other similar elements)

[2020-09-23 06:10] BugDiver commented on #1444
Updated the javascript sample. The typescript does not have a `timeout`

[2020-09-23 06:12] #1444 closed

[2020-09-23 09:12] BugDiver commented on #1282
#1432 has been merged. Closing this issue.

[2020-09-23 12:26] zabil commented on #1282
I don't think it's fixed. I think @saikrishna321 meant this should be fixed after merging #1432

[2020-09-25 04:26] NivedhaSenthil commented on #1526
We moved away from using `scrollIntoViewIfNeeded()` in order to support firefox, as it is not standardized and available only in chromium based browsers

[2020-09-25 06:18] yz56 opened #1541 "Should scroll before click"
### Expected behavior
It should scroll down before click

### Actual behavior
It didn't scroll down in some special case, like when the button is at the bottom of the page.  So it can't click the element matching particular text, and throw error "element matching text "buttonText" is covered by other elements"

### Steps to reproduce
1. Fill some form (with several rows) which is not too short and

[2020-09-25 06:55] mhp-borisbojic commented on #1541
Maybe related to https://github.com/getgauge/taiko/issues/1526#issuecomment-698712751 ?

[2020-09-25 09:15] NivedhaSenthil commented on #1465
Closing as the issue is fixed

[2020-09-25 09:15] #1465 closed

[2020-09-25 12:20] yz56 commented on #1541
maybe it's different, in my case, the browser didn't scroll the element into view automatically as the document describes
https://docs.taiko.dev/api/click/

[2020-09-25 12:44] NivedhaSenthil commented on #1541
This seems more specific to the page being tested, will be great if you can help us with some repro to understand the behind-hood of this scenario.

[2020-09-25 14:52] manasi-rk opened #1543 "Multiple Value select for dropDown API"
This is a feature request for selecting multiple values with the dropDown API

### Expected behavior
dropDown(label).select(option1,option2') ==> Should select multiple values
dropDown(label).select({index:0,1,2,3})
dropDown(label).select(/subString/) ==> Should select all the options which match the given Regex

### Actual behavior
dropDown(label).select(option1,option2') ==> throws error
dropDow

[2020-09-25 15:07] zabil commented on #1543
The API should be modified (in the future) take an array i.e

[code]

For selecting multiple items, this should only work if the drop down is multi select.
For regex the current behaviour should change so that

[code]

Selects multiple items matching `/subString/` if the dropdown is multi-select. (notice the `g` which is a global match flag)

[2020-09-26 10:13] fmancardi commented on #1470
It's really a pity. Taiko is a great tool

[2020-09-27 06:49] roughsoft opened #1547 "parent table"
https://sahipro.com/docs/sahi-apis/relation-apis.html#_parentTable
if we can support this API，we can better select table element from browser as blackbox

[2020-09-27 08:18] zabil commented on #1470
@fmancardi to be be clear Taiko is pretty much stable and feature packed. It will still be round.

[2020-09-28 06:16] roughsoft opened #1548 "taiko selector engineer and playwright"
If we can refactor the code make the taiko selector engineer and playwright side by side，It will be awesome.

[2020-09-28 06:17] roughsoft commented on #1548
https://github.com/microsoft/playwright/blob/master/docs/extensibility.md#custom-selector-engines

[2020-09-28 09:16] zabil commented on #1548
We did look at this. I also see a comment at https://github.com/microsoft/playwright/issues/2877#issuecomment-695803698
However I am closing this as there is probably no refactoring to be done in Taiko to enable this. Its best tracked at the linked issue.

[2020-09-28 09:16] #1548 closed

[2020-09-28 14:25] zabil commented on #1547
Can you please provide an example to understand a scenario where this API can be used? Right now Taiko's API only returns the element (or multiple elements for more than one match)

The [tableCell](https://docs.taiko.dev/api/tablecell/) API allows the user to select cells in the table directly. An example of how you intend use the table element will help to cover use cases missing in `tableCell`

[2020-09-28 18:04] nosdoska opened #1551 "[Question] Select a random value from a dropDown"
Hi,

First of all thanks for the amazing work! Taiko is an awesome tool, pretty easy to use, and has changed the way we work beautifully.

The title is pretty descriptive about my question: is it possible to select a random value from a dropDown? Is there any plans to implement something like this? I would be more than happy to help in implementing it.

Thanks!

[2020-09-28 19:04] zabil commented on #1551
@nosdoska glad to see you are finding Taiko useful!

There's no support out of the box yet. But have you tried using the [index](https://docs.taiko.dev/api/dropdown/) parameter and a [random number generator](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/random)?

[code]

[2020-09-28 19:14] nosdoska commented on #1551
Thanks for the response @zabil !

Yes, in fact I tried to do something similar, and it fixes the problem for dropDowns that are not dynamic. However, there is a set of dropDowns _that are dynamic_, and I can't get one to be randomly selected. Is something that could be provided out of the box by taiko? Would it be something that gets out of taiko's hands?

[2020-09-29 00:35] roughsoft commented on #1547
“locating table using proximity selectors, or table labels.”
we often meet table just these：“<table><tr><td>ddd</td><td>ttt</td></tr><tr><td>ddd</td><td>ttt</td></tr><tr><td>ddd</td><td>ttt</td></tr></table>”
If we want to use tableCell api we must select table at first.
within proximity api maybe is a good idea.

[2020-09-29 03:22] saikrishna321 commented on #1551
@nosdoska Are you expecting the `dropDown` API to return you all the values present in the dropdown and then select one of them?

[2020-09-29 06:38] hrishabhkumar commented on #1526
can we have it based on browser type?

[2020-09-29 11:50] zabil commented on #1526
This will cause issues when the tests are run across browsers. Ideally the tests should work on both without any modifications. You could try using the `evaluate` api to scroll using javascript on the browser. This is likely to work across both browsers.

[2020-09-29 12:05] zabil commented on #1551
Forgive me for going meta on this.

This API will get tricky, more so from consistency with other API's. Right now, Taiko uses implicit assertions, that means it fails when a drop down is not available. This is good for testing as it gives early feedback and works deterministically on each run for the same test data. Selecting a random value is good from an automation perspective but can make the

[2020-09-29 12:31] nosdoska commented on #1551
@saikrishna321 That would be helpful too!

@zabil I understand. And what about the suggestion that @saikrishna321 said? Would be that more consistency with the API?

The values that I'm pointing are cities/states/countries. I don't want to specifically test them, just want to set a random value for them. Does that make sense? Is there any other way I can make this?

[2020-09-29 13:03] zabil commented on #1551
Probably not, as it will not fail the test.

You could use [`evaluate` ](https://docs.taiko.dev/api/evaluate/) for e.g. (you may have to modify the script)

[code]

You refer the tutorial for more info https://docs.taiko.dev/running_scripts_inside_the_browser/

[2020-09-29 13:14] nosdoska commented on #1551
@zabil I think that would work like a charm! Thanks a lot!

I'll close it considering that this is a perfect solution.

[2020-09-29 13:14] #1551 closed

[2020-09-29 13:56] zabil commented on #1547
You can select the table using a caption
[code]
In case a table caption is not there there is a new proximity selector called [within](https://docs.taiko.dev/api/within/) which is coming out in the next release that can narrow down the search to a region.

You can try this API by installing taiko from the main branch i.e. `npm i https://github.com/getgauge/taiko`

[2020-09-29 13:56] #1547 closed

[2020-09-29 17:21] fmpanelli opened #1552 "Functional test failing with Gauge ts plugin ver 0.1.0"
Running `npm run test-functional` crashes if you do not have the correct version of gauge ts plugin  (you can see all GitHub actions failed in the last few days).

### Expected behavior
`npm run test-functional` should work and print out results of the functional tests.

### Actual behavior
If you do not have a `ts` plugin already installed, when you execute `npm run test-functional` it installs t

[2020-09-29 17:31] zabil commented on #1552
Looks like an issue with the newer changes to the Typescript plugin https://github.com/BugDiver/gauge-ts/releases/tag/v0.1.0

[2020-09-29 17:54] saikrishna321 commented on #1499
Fix in master.

[2020-09-29 17:54] #1499 closed

[2020-09-29 18:08] saikrishna321 commented on #1511
@patidar-jaishree `within` API is implemented and Merged to master.

Try `text('Smart selectors', within($('a[href*=smart]  div.box'))).exists()`

[2020-09-29 18:08] #1511 closed

[2020-09-29 20:35] fmpanelli commented on #1552
See PR #1553

As a temporary fix I've forced functional-tests to install the version 0.0.5 of the plugin and uninstall version 0.1.0 if present.

At least now the pipeline is green again!

Then somebody will have to understand why the newer version is crashing the tests.

[2020-09-30 05:23] NivedhaSenthil opened #1556 "Expose Element and ElementWrapper objects to plugin"
### Expected behavior
Taiko plugins should be able to create new elements and element wrappers.

### Actual behavior
Currently the parent Element and ElementWrapper classes are not exposed to plugins

### Versions
[code]

[2020-09-30 05:32] NivedhaSenthil opened #1557 "Return elementWrapper by running a function in browser"
### Expected behavior
Should be able to get an element wrapper by executing function in browser, so that it can be used in other actions like `click`

Example: `click($(() => return document.getElementById('id') ))` or
`click(evaluate(() => return document.getElementById('id'),{elementWrapper:true}))`

[2020-09-30 08:49] zabil commented on #1557
I like reusing

[code]

Without `{elementWrapper:true}` this makes `evaluate` return a JSON or the `elementWrapper` by checking the return value.
This will make it easier to use the API

[2020-09-30 13:15] fmpanelli commented on #1552
Closing after BugDiver fixed the root cause with commit 406b944

[2020-09-30 13:15] #1552 closed

[2020-09-30 15:49] ceisele-r opened #1559 "Often, but now always the error "Could not compute box model" occurs"
### Expected behavior
* No error

### Actual behavior
[code]

### Steps to reproduce
I have no idea why this is happening or what is causing this. The same test often also works but often, it fails with the error message above.

### Versions
[code]

[2020-09-30 19:12] g00gle commented on #523
I noticed this issue in September 30/2020
Version:
PS C:\Users\micro\Documents\Gauge\gauge-tests> taiko -v
Version: 1.0.16 (Chromium: 85.0.4168.0) RELEASE

[2020-10-01 04:34] NivedhaSenthil commented on #523
Can we know why it is needed to call `repl()` command so many times ?

[2020-10-01 04:37] NivedhaSenthil commented on #1559
Is there a sample that we could use to replicate? otherwise it is going to be difficult debugging the issue.

[2020-10-01 11:11] ceisele-r commented on #1559
@NivedhaSenthil unfortunately there is no exact stack trace that leads to the line in the test causing this. According to other logging, I guess the error happens somewhere in the following lines:
[code]

[2020-10-01 12:09] markvillar commented on #1370
I have the same issue.

[code]

[code]

[2020-10-01 13:13] markvillar commented on #1304
I am also getting the same result ocassionally, and it seems to happen at every other run of the test.

All tests were passing with or without the error occuring.

I believe the error occurs somewhere in between the last step and the teardown step, as it does not even get the chance to run the tear down step that I have setup.

[code]

It is quite flaky, other times it works perfectly, and I don't

[2020-10-01 13:26] zabil commented on #1304
@markvillar can you give more info about the hardware/os etc these tests run on?

[2020-10-01 14:47] markvillar commented on #1304
@zabil I am running it on MacBook Pro (2015) running macOS 10.15.7

I also have log from CircleCI, which might help?

[code]

[2020-10-02 18:32] fmpanelli commented on #1530
Closing after PR #1538 was merged.

Now the page at https://docs.taiko.dev/api/goto/ says:
![image](https://user-images.githubusercontent.com/53738017/94957519-2dad6d00-04ee-11eb-9d29-a83a61e93cb5.png)

[2020-10-02 18:32] #1530 closed

[2020-10-02 20:21] klhex opened #1565 "Click on navigation bar item does not trigger navigation (scroll down)"
**Describe the bug**
When a navigation item on a page with a navigation bar is clicked then the scrolling down to the page's section referenced by the navigation item does only start for a short moment but then stops. It only succeeds fully when the same navigation item is clicked again.

The next issue concerns clicking on 'MEHR ERFAHREN' once the downwards navigation has succeeded (currently, by

[2020-10-03 05:58] fmpanelli opened #1567 "Broken link for return types in documentation"
**Describe the bug**
In the `Returns` section of the [reference for API functions](https://docs.taiko.dev/api/reference/) the standard type Promise has a link to the Mozilla [documentation](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise).

For some global types such as `Object`, the link is broken.

**To Reproduce**
Steps (or script) to reproduce the behav

[2020-10-03 06:21] fmpanelli opened #1569 "Missing type declaration for new function `within`"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps (or script) to reproduce the behavior (method 1):
1. Clone taiko
2. Execute `npm run dtslint`
3. Get the error:

[code]

Steps (or script) to reproduce the behavior (method 2):
1. Create a new typescript project
2. Execute `npm i taiko`
3. In VS Code try to add to any `.ts` file `import {within} from '

[2020-10-03 07:02] fmpanelli opened #1571 "Adding Github action for dtslint"
**Is your feature request related to a problem? Please describe.**
Taiko's project contains an npm script to verify the type declarations which can be executed by `npm run dtslint`

That script is not run automatically anywhere in the pipeline. Therefore type issues can get merged into master and get published without noticing.

E.g. the `within` function was introduced recently, but the related t

[2020-10-05 03:45] #1569 closed

[2020-10-05 07:16] fmpanelli commented on #1567
Fixed with PR #1568, now the `Object` link in the [goto ref page](https://docs.taiko.dev/api/goto/) works as expected.

[2020-10-05 07:16] #1567 closed

[2020-10-05 09:21] luthrap commented on #1543
If it is still open then i would like to take this up along with Jyoti(https://github.com/guptajyoti845)

[2020-10-05 12:09] #286 closed

[2020-10-06 06:01] NivedhaSenthil commented on #1557
That has to defined before executing the function  in the browser so that CDP can return object accordingly.. currently we set `returnByValue` option to true when executing the function in browser context to get the return value as string.. if we have to get the object reference it should not be set.. else it will error out with `Error: Object reference chain is too long`

[2020-10-06 07:03] SanjuSona-19 opened #1574 "The selector and the dropdown is not working"
The below code is used to do the operations in the following screenshot

                    await write(template_name, into(textBox(below("Message Name"))));
                    await click('Send to particular segment(s)')
                    await click('Add Segment', below('Who should receive this campaign?'))
                    await click($('.sc-lnmtFM dDvEpT'), toRightOf('Subscribed Users')

[2020-10-06 10:09] zabil commented on #1574
To understand this better, can you explain what you mean my selecting randomly? The HTML says

[code]

But the selector you are using `'.sc-lnmtFM dDvEpT' maybe wrong please try `$('.sc-lnmtFM.dDvEpT')`.  [Css selectors ](https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors) are different from class attributes.

`dropdown` selector only works for a dropdown of typically of

[2020-10-06 10:09] #1574 closed

[2020-10-06 15:13] markvillar commented on #1304
Adding some delay before the start of the last step seem to have fixed the issue for us.

Since all our tests ends with the same Logout step:
javascript```
const { click, waitFor } = require('taiko');

step("Logout", { continueOnFailure: true}, async (done) => {

    //Add some delay here
    await waitFor(5000);

    await click("Logout");
    await done();

});
[code]

[2020-10-06 21:17] mohammedalnuaimi opened #1575 "Intercept() not returning mocked data in 1.0.24"
**Describe the bug**
The intercept() function of taiko is no longer returning the expected json, I have an existing worked been done a month ago, and it was working fine until yesterday when the 1.0.24 update came in which cause this function to not return the items.
Please note that I have done no changes at all to my work, have tried it by fixing the version to 1.0.19 and everything worked fine

[2020-10-07 04:36] NivedhaSenthil commented on #1575
[code]
I could see the above script working fine with 1.0.24...can you please provide a sample which is failing for you ?

[2020-10-07 08:16] dewirosalin commented on #1559
Same goes for me, I got this error several times randomly. Then I re-run it without changing anything, no error.

[2020-10-07 08:35] dewirosalin opened #1579 "Browser closed when click print button"
**Describe the bug**
Browser suddenly closed when click a button that has window.print() in it.

**To Reproduce**
Steps (or script) to reproduce the behavior:
1. Click Print button

[code]

**Logs**

[code]

**Expected behavior**
Browser still open with print dialogue and move to next step

**Versions:**
 - Taiko: 1.0.24
 - Win 10 version 1909
 - Node.js v.12.18.4

[code]

[2020-10-07 09:26] zabil commented on #1571
This looks like the better alternative to catch these things early. Also other lint tasks run as a pre commit hook.

[2020-10-07 10:04] mohammedalnuaimi commented on #1575
so my function is implemented in this way, just pasting the code related to intercept

[code]

[2020-10-07 10:15] NivedhaSenthil commented on #1559
@dewirosalin  if you can give us a sample script to replicate.. it will be really helpful fixing this faster.

I could see this happening when I explicitly try to click on a hidden element by passing `{selectHiddenElements:true}` option to a selector. Taiko filters hidden element when selecting elements... I have a suspicion that once the element is selected and in between the action is performed

[2020-10-07 10:24] mohammedalnuaimi commented on #1575
@NivedhaSenthil I have tried my test against 1.0.23 and it works fine as well, so there must be something changed in 1.0.24!

[2020-10-07 11:12] dewirosalin commented on #1559
@NivedhaSenthil I'm sorry but like I mentioned before, it happens randomly. And no, it's not a hidden element. My script as simple as `await click(button("Cancel"))` and this error appear. And the next time this error appear is when I want to click the autocomplete option. The script just `await click("Option Text")` nothing special. But it didn't happen everytime I run the spec. I'm using mat-aut

[2020-10-07 19:06] nseshadr opened #1580 "Getting uncaught unexpected error while running the saved script"
**Describe the bug**
I am trying to run the saved JS file using command npx taiko xx.js and getting below error

I used the recorder and saved the file using .code command. Now i am trying to run the js file with the saved steps.

[2020-10-07 20:38] zabil commented on #1580
@nseshadr closing this temporarily as there not enough information to replicate and debug this. Please take a look at https://docs.taiko.dev/contributing/#reporting-an-issue to make sure you are filling the whole issue template. Will open it as soon as there is enough information.

[2020-10-07 20:38] #1580 closed

[2020-10-08 08:33] spinningarrow opened #1582 "text() with a leading plus sign in the text does not work"
**Describe the bug**
The `text()` selector does not work when the argument starts with a plus sign.

**To Reproduce**
Serve this minimal html locally:

[code]

Taiko script:
[code]

**Logs**

First "fails"
[code]

Second "fails"
[code]

**Expected behavior**
All of those selectors should work since the text is there on the page.

**Versions:**
 - Taiko: 1.0.24
 - OS: macOS 10.15.6
 - Node.js: v14.

[2020-10-08 10:23] #1582 closed

[2020-10-08 10:26] zabil commented on #1582
Thanks for the details.

A fix is in the main branch you check it by installing from the main branch using

[code]

[2020-10-09 05:22] NivedhaSenthil commented on #1526
Can we know exactly what is the problem you are facing when taiko tries to scroll element into center before action ?

[2020-10-09 07:34] guptajyoti845 commented on #1543
Need clarification for the following scenarios :
1. when we are not having multiple attribute for select tag and user give array input in select API .Should we select the last element of input array or nothing will get selected with some readable error message.

2. When user try to select the disabled option in input array. Should we select the remaining array inputs or nothing will get selected w

[2020-10-09 09:22] zabil commented on #1543
@guptajyoti845 great catch.

In this case it should select the first item in the array.

In this case it should throw an error saying that I cannot set a value as the field is disabled.

[2020-10-09 09:50] NivedhaSenthil commented on #1575
Are you seeing any error with executing the script ?
Not sure whats going wrong, I am not able to replicate the issue. Below script which is almost similar to your setup works fine for me,

#### data.json
[code]
#### code.js
[code]

Can you please try running if the above script works for you?

[2020-10-09 10:29] saikrishna321 commented on #1575
@mohammedalnuaimi Do you see options call in the network tab?

[2020-10-10 23:53] mohammedalnuaimi commented on #1575
thank @NivedhaSenthil @saikrishna321
 Here is the thing, the reason the items return not presented in the UI, is that it expected the data to be pure json string with no backward slash to the double quotes, like this { "city": "City1", "State": "State1" }, and that was the case until 1.0.23v
however, in the new taiko 1.0.24v release, it started returning the json data with escaping the quotes like

[2020-10-11 10:05] saikrishna321 commented on #1575
@mohammedalnuaimi I can reproduce the issue. Thanks for detail info. We will fix this.

[2020-10-11 10:31] saikrishna321 commented on #1575
@NivedhaSenthil Code that works till v1.0.23 and breaks in v1.0.24

[code]
**`${rawdata}`** is a Object and the check here (https://github.com/getgauge/taiko/blob/master/lib/handlers/fetchHandler.js#L119) stringify the response and it breaks.

Issue got introduced in v1.0.24 => https://github.com/getgauge/taiko/pull/1496/files#diff-edd552e5b38c38c77f6df11eb7b22ebeR75-R76

@mohammedalnuaimi As a wo

[2020-10-11 13:18] mohammedalnuaimi commented on #1575
Thanks @saikrishna321 with re the workaround, it looks to me the exact same sample I sent in the top, unless I'm missing something here?

[2020-10-11 14:03] saikrishna321 commented on #1575
JSON.parse

[2020-10-11 20:21] mohammedalnuaimi commented on #1575
Ah missed the word parse, actually parse is not working in this instance, however when passing the jsonData/resObj without stringify or parse, it works, i.e. like this ` body: resObj`, I think the resObj already translated as obj here which is then stringified later in your code

[2020-10-11 20:51] mohammedalnuaimi commented on #1575
tbf @saikrishna321 @NivedhaSenthil looks to me the stringfy for the body that I was doing, is a workaround for an existing behaviour, but in 1.0.24v you guys have implemented the stringfy in your code which fixed it, that's why as mentioned in the previous comment I just removed `JSON.stringfy` wrapping the body content like this `body: resObj` and that worked. Not sure if you need to fix somethin

[2020-10-12 04:45] saikrishna321 commented on #1575
@mohammedalnuaimi Please try installing the latest version from master and check if the same code which was working with 1.0.23 works.

[2020-10-12 07:14] #1575 closed

[2020-10-12 13:31] guptajyoti845 commented on #1543
**One more scenario :**
When user gives input array in select API,  and one of the element is not available , then what should be the behaviour.
Either select other valid inputs or nothing would be selected.

[2020-10-12 13:42] zabil commented on #1543
As Taiko does implicit assertions I think the test should fail as this could be a valid case missing data and unexpected behaviour.

Which now makes me rethink the following scenario

I think we should fail with an error the tester expects the field to be multi select but it is not implemented correctly. This is to avoid missing wrongly implemented behaviour.

[2020-10-12 13:49] luthrap commented on #1543
1. In the first scenario, we will fail the test. However, should we select other dropdown values which could be selected or should we skip selection of those and just raise an exception.
2. For the drop down not having multiple flag set to true, we earlier thought of error like below:
[code]
Should it be implemented in this way, this will make no. 1 and 2 consistent and the user will not have any

[2020-10-12 13:57] zabil commented on #1543
It's ok if the test fails while setting the value that is not available. I assume this can be done in the order of the input. This would be like how a user selects these options.

So for an array `['one', 'two', 'three', 'four']` let's say `three` is not available. It would have ideally set `one` and `two` and failed on 'three' without setting 'four'. This also means Taiko can tell the user which

[2020-10-13 08:01] NivedhaSenthil commented on #1557
As there are elimitations with `evaluate` api $ selector will be updated to take a callback like below,

[code]

[2020-10-13 08:06] xyb commented on #1103
The document has been moved to https://docs.taiko.dev/api/client/

[2020-10-13 12:05] saikrishna321 opened #1589 "Clear intercept warning in closeIncognitoWindow"
**Describe the bug**

**WARNING: More than one intercept** is bloating the terminal as I'm using `intercept` API with beforeEach hook which has incognito session.

**Expected behavior**
Clear the intercept listener in closeIncognitoWindow

**Versions:**
 - Taiko: 1.0.24
 - OS - MAC
 - Node.js - v14.8.0

[2020-10-13 14:00] #1440 closed, assigned to nobody

[2020-10-13 15:57] l-alladi opened #1590 "taiko not able to switchTo new window opened as part of test"
My code looks like this:
  await button({id : 'lookup.incident.assignment_group'},{navigationTimeout:10000}).exists()
  await click(button({id : 'lookup.incident.assignment_group'},{navigationTimeout:10000}),{selectHiddenElements: true})
  waitFor(10000)
  await switchTo('ServiceNow – Google Chrome')

after  await click(button({id : 'lookup.incident.assignment_group'},{navigationTimeout:10000}),{s

[2020-10-14 02:54] NivedhaSenthil commented on #1589
Is there any particular reason why intercept is called in `beforeEach` instead of `before` ?
Also [clearIntercept](https://docs.taiko.dev/api/clearintercept/) api can called anytime an intercept wants to be cleared...

Currently Taiko resets intercept on `closeBrowser`

[2020-10-14 02:57] NivedhaSenthil commented on #1590
`switchTo` doesn't seem to be accepting string to do an action...for a moment can you please try using a regex like
`await switchTo(/ServiceNow – Google Chrome/)`

[2020-10-14 03:23] NivedhaSenthil commented on #1565
I could that when we try to click `Auto Abo abschließen` for the first time the page is scrolled once the coordinates to click is calculated and hence Taiko is clicking on wrong coordinates. Seems like highlighting element on action is causing the scroll, trying to find why that is happening.

[2020-10-14 03:46] saikrishna321 commented on #1589
Question: Would intercept API called on openBrowser have effect on incognito window?

[2020-10-14 03:47] saikrishna321 commented on #1589
This helps

[2020-10-14 05:34] NivedhaSenthil commented on #1589
yes.. currently it would

[2020-10-14 10:55] NivedhaSenthil opened #1595 "Make xpath verification in $ selector use a xpath validator"
Currently the $ selector distinguishes between a css selector or xpath using a string manipulation which does not cover all the cases.. update the check to do a proper xpath validation.

[2020-10-14 14:32] RobertBeilich opened #1596 "Empty body for intercept not possible"
**Describe the bug**
If not setting the body for an intercept, the intercept fails when called.
There are responses without bodies, e.g. 204 No Content, so this behaviour has to be an expected one.
Same applies if the body actively is set to `undefined` or `null`

**To Reproduce**
[code]

**Error message**

[code]

**Expected behavior**
Intercept works.

**Additional context**
* This bug is caused

[2020-10-14 16:12] #1557 closed

[2020-10-14 17:32] #1565 closed

[2020-10-15 14:16] zabil commented on #1596
@RobertBeilich would you like to send a pull request with a fix? I see that you've identified what's causing the issue.

[2020-10-16 04:42] ankurjain00 commented on #789
I would like to work on this issue

[2020-10-16 05:37] NivedhaSenthil commented on #1526
current behavior of scroll is modified to use `nearest` as an option to `scrollIntoView`.... try out 1.0.25

[2020-10-16 06:35] zabil commented on #789
@ankurjain00 done. Please reach out here if you need any help with the docs.

[2020-10-16 09:18] RobertBeilich commented on #1596
Yes, I'm going to tackle it.

[2020-10-16 10:54] luthrap commented on #1543
PR raised.

[2020-10-16 11:14] hrishabhkumar commented on #1526
Thank you it's working now

[2020-10-16 11:14] #1526 closed

[2020-10-16 12:37] l-alladi commented on #1590
yes, using regular expression helped. thanks @NivedhaSenthil

[2020-10-16 13:22] zabil commented on #1590
`switchTo` only supports regular expressions now. This the documentation was updated a while ago to reflect this https://docs.taiko.dev/api/switchto/

[2020-10-16 13:22] #1590 closed

[2020-10-16 14:17] Alenechka commented on #1304
Facing the same issue.
Gauge version: 1.1.4
Taiko 1.0.23 using Chrome(not Chromium)
OS Windows(run from terminal or VisualCode plugin)

[code]

While running on ubuntu same versions of everything, there is no such error.

What I have tried:
runner_connection_timeout = 25000
runner_request_timeout = 25000
waitFor(5000) in the last step
waitFor(5000) in afterSuite
setTimeout(5000) in afterSuite

Onl

[2020-10-16 15:24] zabil commented on #1304
It's better to open another issue to track this as the original problem was with registering and unregistering listeners. Will help if you have some kind of an example in the new issue.

[2020-10-16 16:05] Alenechka opened #1604 "Error The Browser instance was closed"
**Describe the bug**
In the end of every test run of single scenario or full spec I am facing the issue:
Error: The Browser instance was closed either via `closeBrowser()` call, or it exited for reasons unknown to Taiko. You can try launching a fresh instance using `openBrowser()` or inspect the logs for details of the possible crash.
So I am not able to get any report even if test is passed.

**T

[2020-10-17 10:14] ankurjain00 commented on #789
@zabil PR raised

[2020-10-17 10:30] NivedhaSenthil commented on #1604
can you please verify if `closeBrowser()` called else where in your tests ?

[2020-10-17 10:30] msharma-tw commented on #1579
Hi @zabil - can you please assign this issue to me?

[2020-10-17 10:39] Alenechka commented on #1604
Yes, using VScode search just in one place in
[code]

[2020-10-17 11:00] MakodeAjay commented on #806
Hi @zabil, I want to contribute to this issue. Could you assign this to me?

[2020-10-17 17:03] msharma-tw commented on #1541
Tried to reproduce with the above steps. Didn't faced this issue. @yz56 - can you share the URL which you are testing.

[2020-10-18 13:04] yz56 commented on #1541
Sorry, my company does allow me to share the project, I will try to make a demo when I have time.

[2020-10-18 14:32] zabil commented on #806
@MakodeAjay Done! Please feel free to reach out here if you need any help.

[2020-10-19 12:22] zabil commented on #1426
@pslmsngr there were changes to this part of the functionality. Can you please try to see if this issue is fixed by running the following command?

[code]

This will install a version of Taiko which is from the main branch.

[2020-10-19 13:14] pslmsngr commented on #1426
Hello,
When I ran the command that you gave me on the computer that first showed
the issue I reported, I got the following error message when I ran

*C:\Users\IPX REGRESSION 2>npm install -g https://github.com/getgauge/taiko
<https://github.com/getgauge/taiko>npm ERR! code ENOENTnpm ERR! syscall
spawn gitnpm ERR! path gitnpm ERR! errno ENOENTnpm ERR! enoent Error while
executing:npm ERR! enoent un

[2020-10-19 14:02] pslmsngr commented on #1426
Whoops.

I did not have Git installed on that computer.  I have that is not the
reason for the issue.

Anyways, here is the result of running that command you gave me.

*C:\Users\IPX REGRESSION 2>git version*
*git version 2.28.0.windows.1*

*C:\Users\IPX REGRESSION 2>npm install -g https://github.com/getgauge/taiko
<https://github.com/getgauge/taiko>*
*npm WARN deprecated resolve-url@0.2.1:
https:

[2020-10-19 14:08] zabil commented on #1426
[code]

This output usually means that Taiko was installed successfully. Thanks for verifying that. I'll close this issue for now. An official release with the fix will be out soon.

[2020-10-19 14:08] #1426 closed

[2020-10-19 14:09] pslmsngr commented on #1426
Well,
After installing Git, I uninstalled taiko and started from scratch.  Here
is the log for installing taiko as described at "
https://github.com/getgauge/taiko", and I saw the same issue (see the
log).  I then installed it as per your instructions (that worked):

*C:\Users\IPX REGRESSION 2>taiko --version*
*'taiko' is not recognized as an internal or external command,*
*operable program or bat

[2020-10-19 14:10] pslmsngr commented on #1426
Ok,
Thanks.

On Mon, Oct 19, 2020 at 10:08 AM Zabil Cheriya Maliackal <
notifications@github.com> wrote:

[2020-10-20 10:20] saikrishna321 opened #1613 "Retrieve multiple selected values from drop down"
Expose a new function `values()` to retrieve all the selected values from multi select drop down.#1543

Should be picked once #1602 is merged.

[2020-10-21 08:43] Alenechka commented on #1604
Any updates on this issue?

[2020-10-21 15:10] zabil commented on #1604
It's passing for me with the sample provided on this issue

<img width="1093" alt="Screenshot 2020-10-21 at 16 06 28" src="https://user-images.githubusercontent.com/54427/96739255-7ce11200-13b7-11eb-9e51-02b4b2025bca.png">

I noticed that you mentioned that you are using Chrome instead of the Chromium that is bundled with Taiko. While it should work there may be issues with versions. Please check

[2020-10-21 15:23] Alenechka commented on #1604
The same issue with Chromium. But when I set headless_chrome = true everything works perfectly fine even with Chrome. That's why I don't have this issue on my linux VM I guess. My Chrome version is 86.0.4240.75.

[2020-10-21 15:35] zabil commented on #1604
Ok, things are different in headless mode and non headless mode.

<img width="1147" alt="Screenshot 2020-10-21 at 16 27 29" src="https://user-images.githubusercontent.com/54427/96742034-5b355a00-13ba-11eb-9246-33b23cbc9b2f.png">

Google pops up an additional modal window in headless mode and this is not accounted for in the tests. The only way to get around this is handling this condition in the t

[2020-10-21 16:12] Alenechka commented on #1604
I dont have this modal window on my browser, see screenshot in debug mode:
![image](https://user-images.githubusercontent.com/38050312/96746938-bf671680-13d8-11eb-84f7-fe3c39210259.png)
But on your first screenshot in last comment I see initial issue with closed browser even after failed test.
I am having the same error after passed and failed tests, for example see screenshot:
![image](https://us

[2020-10-21 16:43] zabil commented on #1604
Thanks for sharing the screenshots

The `The Browser instance was closed either via closeBrowser()` error is because something else failed in this case "Element with text fake not found".

Taiko should have reported this correctly without saying it was a problem with closeBrowser. Will check why that is happening and try to fix that.

[2020-10-21 16:48] Alenechka commented on #1604
Thanks a lot, @zabil ! Will wait for the update.

[2020-10-24 12:56] rmallof opened #1624 "Smart selectors fail to find search bar using text placeholder"
**Is your feature request related to a problem? Please describe.**
Smart selectors do not work when deal with search bar placeholders using text inside the bar as target
Related to https://github.com/getgauge/taiko/issues/1625

So, if you go to https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_search_placeholder and then run: _write("AAAA", textBox("Filter items"))_ - Taiko won't write i

[2020-10-24 13:00] rmallof opened #1625 "Smart selectors fail to find search bar using placeholder"
**Describe the bug**
Smart selectors do not work when deal with search bar placeholders

**To Reproduce**
Steps (or script) to reproduce the behavior:
1. Go to https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_search_placeholder
2. Open Taiko
3. Run: write("AAAA", textBox("Filter items"))" - it won't work
4. Run: write("AAAA", textBox({placeholder: "Filter items"})) - it'll work

**Expec

[2020-10-24 13:00] rmallof commented on #1625
Related to: https://github.com/getgauge/taiko/issues/1624

[2020-10-24 13:14] rmallof commented on #1625
P.S.: I noticed that _textBox({placeholder:"Filter items"})));_ is case sensitive, while other smart selector methods are case insensitive

[2020-10-26 10:10] zabil commented on #1625
Closing this in favour of https://github.com/getgauge/taiko/issues/1624 (which is a feature request)

The textBox does not have placeholder based locators at the moment. `textBox({placeholder:"Filter items"})));` is an attribute selector and will be case sensitive. However, it should work for `write("AAAA", textBox("Filter items"))"` as this is how the user would see and record it.

[2020-10-26 10:10] #1625 closed

[2020-10-27 06:19] roughsoft commented on #1624
Lookforward this feature!

[2020-10-27 16:51] #1282 closed

[2020-10-27 17:02] #1543 closed

[2020-10-27 17:02] #1613 closed

[2020-10-28 01:25] roughsoft opened #1630 "Smart selectors(tableCell) do not work when deal with table using text inside "td" tag in "thead" tab"
Is your feature request related to a problem? Please describe.
Smart selectors(tableCell) do not work when deal with table using text inside "td" tag in "thead" tag

Smart selectors(tableCell) do work when deal with table using text inside "th" tag in "thead" tag

Describe alternatives you've considered
(text inside "td" tag in "thead" tag) should work just like (text inside "th" tag in "thead" ta

[2020-10-28 15:29] zabil commented on #1630
To understand this better can you please provide a sample HTML and how you are using the `tableCell` API

[2020-10-28 16:05] zabil commented on #1579
I think this is fixed in the latest Taiko versions.

[code]

Please upgrade Taiko and see if you still face the issue.

[2020-10-29 01:10] roughsoft commented on #1630
sample html：
https://www.w3schools.com/code/tryit.asp?filename=GK6XI2TZCM21
tableCell({row:1, col:1}, "Month")
do not work
sample html:
https://www.w3schools.com/code/tryit.asp?filename=GK6XLN2O9GHQ
tableCell({row:1, col:1}, "Month")
do work

[2020-10-29 01:10] roughsoft commented on #1630
(text inside "td" tag in "thead" tag) should work just like (text inside "th" tag in "thead" tag)

[2020-10-29 11:19] zabil commented on #1630
Thanks for sharing the samples and patiently explaining this.

`thead/tr/td` looks like a non-standard way of defining table header cells.

On further reading https://www.w3.org/WAI/tutorials/tables/tips/ (under list Styling header cells) recommends to clearly differentiate between `th` and `td` in header and body.

Taiko must fail in this case to show the accessibility issue. The application can

[2020-10-30 02:01] roughsoft commented on #1630
thank you for your reply！
I see it，but as we know the application not under my control ,this thead/tr/td ,can render well in chrome browser.

[2020-10-30 02:20] saikrishna321 commented on #1624
@NivedhaSenthil  Currently, Taiko works only on _label_ in textBox

https://github.com/getgauge/taiko/blob/480cb4726d8afa05d235695eed34db7d6b33cdc6/lib/elementWrapper/textBoxWrapper.js#L21

`placeholder` attribute would be present only on _input_ tag. I'm thinking the current function https://github.com/getgauge/taiko/blob/480cb4726d8afa05d235695eed34db7d6b33cdc6/lib/elementWrapper/textBoxWrapper.

[2020-10-30 03:43] ankurjain00 commented on #789
@zabil PR raised to add exec method implementation

[2020-10-30 09:00] zabil commented on #1624
This makes sense, because the placeholder is mostly used like a label for text fields. In most cases the label is ommitted when there is a placeholder. In case there is a label with the same text Taiko should pick the placeholder.

[2020-10-30 09:04] zabil commented on #1630
Have you tried using `$()` selector for this specific case?

That's true! Browsers are very tolerant of HTML issues.
I recommend not fixing this for now and using the workaround.

[2020-10-30 09:04] #1630 closed

[2020-10-30 12:36] #789 closed

[2020-10-30 18:57] davidjgaunt4 opened #1643 "Taiko should timeout when there is an unexpected alert giving an error"
**Describe the bug**
Taiko should timeout when there is an unexpected alert giving an error, I have an app that presents errors though alert prompts that mean they can be unpredictable, when these alerts pop the taiko test just stops and does not error.

**To Reproduce**
1. copy the html to a file and update the location in the Taiko script below, then run the taiko script.
2. Script stops when th

[2020-10-31 08:34] MakodeAjay commented on #806
@zabil PR raised

[2020-10-31 10:35] roughsoft opened #1649 "document about Selenoid+taiko"
If we can documenting the detail about Selenoid+taiko ,it would be great.
We know it is not so easy.

[2020-10-31 14:06] saikrishna321 commented on #1649
Do you think a plugin for selenoid would help or just the documentation?

[2020-11-01 03:36] roughsoft commented on #1649
plugin is great！
code is more than documentation.
@saikrishna321

[2020-11-01 03:38] saikrishna321 commented on #1649
I started with the plugin and stopped half-way! Will finish the plugin and publish to npm

[2020-11-01 07:33] fmpanelli commented on #1571
I am back on the topic (sorry it's been so long).

Fine with using git hooks, anyway I propose to execute `npm run dtslint` within `pre-push`.
I think it is too slow to have it executed in `pre-commit`.

I submitted PR #1651 with the proposed changes.

[2020-11-01 10:32] fmpanelli opened #1652 "Dropdown multiple values not supported in Typescript"
**Describe the bug**
Since PR #1602 Taiko supports multiple value selection for dropdowns, but that does not work in Typescript due to type inconsistency (as already mentioned in the PR [comments](https://github.com/getgauge/taiko/pull/1602#issuecomment-714417426))

**To Reproduce**
Steps (or script) to reproduce the behavior:
1. Create a new folder and cd into it
2. Initialize the npm project wit

[2020-11-02 01:56] roughsoft commented on #1630
@zabil ，@saikrishna321
I suggest fixing this.
Because if we not fixing this ,it will hurt our taiko's vision-"Taiko's API is designed for testers. Unlike other testing frameworks, Taiko treats the browser like a black box. With Taiko you can write scripts by looking at a web page and without inspecting its source code."
You know I meet this table( https://www.w3schools.com/code/tryit.asp?filename=

[2020-11-02 07:22] zabil commented on #1630
@roughsoft tables are tricky. A table can also be rendered using divs, multiple headers columns etc.
For now the `tablecell` api is limited to cover only standard cases.

[2020-11-02 07:44] BugDiver commented on #1652
The ValueWrapper should remain as it is for the elements that actually implement that behavior such as ColorWrapper, TextBoxWrapper, etc.

@felipdc Since you already have the fix in your mind, would you like to raise a PR for the same?

[2020-11-02 10:59] fmpanelli commented on #1652
Sure! Hopefully I'll be able to submit a PR this evening.

[2020-11-02 18:40] #1571 closed

[2020-11-04 08:01] RobertBeilich commented on #1596
I'm asking to reopen this issue. The merged solution is not only not sufficient, it rather is arguably even more erroneous, as it now adds an empty body to all requests, instead of omitting it where necessary.
I'm still investigating how to properly handle `null`, as the chrome fetch api is not handling it. Probably the right solution is to process it as `JSON.stringify` would do it and convert it

[2020-11-04 09:59] NivedhaSenthil commented on #1559
There are some fixes done on click.. can you please check if this is fixed in latest version of Taiko(1.0.26)

[2020-11-04 20:53] carpeliam opened #1661 "waitFor passes retryInterval in as retryTimeout"
`waitFor` calls `ElementWrapper.elements` with three parameters: `undefined`, `retryInterval`, and `retryTimeout`. However, `ElementWrapper.elements` only takes two, which means that `elements` is getting called with an undefined value for `retryInterval` and a `retryTimeout` equal to whatever the retry interval was.

This results in `waitFor` not waiting long enough if I have a small `retryInterv

[2020-11-04 20:54] carpeliam commented on #1661
Current workaround:
[code]

[2020-11-05 09:42] NivedhaSenthil commented on #1604
@Alenechka seems the issue does not exists with latest versions of node, gauge, taiko and gauge-js. Can you please verify again updating the versions ?

PS: I have created a PR that addresses closeBrowser warning if browser is closed already instead of erring #1664

[2020-11-05 11:26] Alenechka commented on #1604
@NivedhaSenthil Could you please specify versions that you used? I still have this problem on
[code]

[2020-11-05 11:50] NivedhaSenthil commented on #1604
I am on
[code]

Can you please attach the sample project that you are running...I did try replicating from above comments but no luck

[2020-11-05 12:05] Alenechka commented on #1604
There is part of my project which you can run to reproduce issue. Also I didn't delete logs so you can see that I am able to reproduce this issue every time.
[taiko_issue.zip](https://github.com/getgauge/taiko/files/5494225/taiko_issue.zip)

[2020-11-06 02:33] dewirosalin commented on #1579
Hi zabil,

It works perfectly on headless mode. But when I set headless to false it gave me this error

[code]
and it stops the other followed scenario.

[2020-11-06 07:00] NivedhaSenthil commented on #1661
`waitFor` calls elements from [match](https://github.com/getgauge/taiko/blob/44e90ed63357fbb16f4d8660ec4717117418a4bc/lib/elementSearch.js#L170) which takes three args (tag, retryInterval and retryTimeout), since tag is not needed from waitFor it is passed as undefined. I could see retryTimeout is applied properly in below example. Can you please verify again and let us know if you seeing somethin

[2020-11-06 08:53] zabil commented on #1579
Here's the output on the latest version 1.0.26 in non headless mode. Can you please make sure that you are using the latest version

<img width="1017" alt="Screenshot 2020-11-06 at 08 51 51" src="https://user-images.githubusercontent.com/54427/98346108-6f5d9600-200d-11eb-8dea-4dfbfcd6228a.png">

[2020-11-06 09:17] dewirosalin commented on #1579
Yes, I have used the latest version here.

![image](https://user-images.githubusercontent.com/70673557/98348421-b0789900-2053-11eb-8806-57d4e92b5bdf.png)

[2020-11-06 11:16] NivedhaSenthil commented on #1579
I could see the issue too ...will try fixing it 👍

[2020-11-06 11:34] carpeliam commented on #1661
@nandhae you're right, if the argument is a string :) but if it's a selector, e.g. `waitFor(button('Click me'))`, then it calls [ElementWrapper.elements](https://github.com/getgauge/taiko/blob/master/lib/elementWrapper/elementWrapper.js#L165), which doesn't have a `tag`. I'm sorry that my example code wasn't accurate, I didn't realize that `match` doesn't return an `ElementWrapper`.

Here's your e

[2020-11-06 11:44] NivedhaSenthil commented on #1661
Yes, thanks for pointing that out :) will be happy to review you a PR

[2020-11-06 13:31] valentijnscholten opened #1666 "Running taiko (with chrome) from WSL2"
Hi,

I'm doing most of my development on WSL2, so would like to do the same for writing tests in taiko. Running Ubuntu20.04 on WSL2.

`sudo npm install -g taiko`

succeeds

`taiko`

succeeds

`openBrowser()`

fails:

[code]

So it doesn't seem to install chromium. Anyway, I'd like to use chrome which is installed in the windows host system.

[code]

This opens chrome on windows. Shows some warning

[2020-11-06 15:28] zabil commented on #1666
Hey @valentijnscholten can we first discuss this at https://spectrum.chat/gauge ? There are more chances of finding help there as this seems to be an issue with environment. If it is indeed an issue this can be re-opened with all sections of the issue template filled up.

[2020-11-06 15:28] #1666 closed

[2020-11-09 11:13] #1661 closed

[2020-11-09 20:39] klhex opened #1671 "Unable to find/change slider"
**Describe the bug**
I've got a page with two sliders and Taiko seems unable to find them (and change their value):
![image](https://user-images.githubusercontent.com/71178731/98590571-52f08080-22cf-11eb-8379-0a76402fc7dd.png)

I've tried several approaches for finding the first slider (id: 'loanAmount', selectHiddenElements, proximity selector (above, below)) but I always get a "Error: Range ...

[2020-11-10 06:59] zabil commented on #1671
Thanks for sharing the page source code. Taiko's `range` selector only works on [input type range](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range). It looks like you are trying to use `range` on a custom slider which does not use the correct input type.

As it is a custom control please use `evaluate` api to run a [script on the browser](https://docs.taiko.dev/running_script

[2020-11-10 06:59] #1671 closed

[2020-11-10 10:48] klhex commented on #1671
@zabil Thanks for your feedback. The slider in question is indeed not an input type range one. Thanks for pointing me to the alternative solution via ```evalute```. In my case, since for my current tests I only need to change the slider to a different value than the initial one (since the test consists in validating the general functionality of the slider) and not to a specific value, I found out

[2020-11-10 12:23] kskarra opened #1673 "Tests fails when running many goto steps in succession"
Recently I've been working on a check of filters on a page, which is long series of goto and then it confirms the results on the page (in the next step). These basicly fails every run, usually within the first 10 (of a total of around 100) of the URL steps being loaded.
The step between each goto that checks that the page contains the expected results.
Is there a better/more correct way to set it

[2020-11-11 01:24] NivedhaSenthil commented on #1604
Thanks for the sample.. I could now replicate it with a simple taiko script below. Seems to be happening because of waiting for beforeUnload event to happen, only on headful mode and in windows. Trying to debug the cause.

[code]

[2020-11-11 07:24] #1624 closed

[2020-11-11 08:30] NivedhaSenthil commented on #1673
there is a fix released as part of 1.0.27 ..can you please update and check

[2020-11-11 09:29] kskarra commented on #1673
The fix looks to have resolved the issue! Good work!

[2020-11-11 09:31] NivedhaSenthil commented on #1673
Thanks for the update 👍

[2020-11-11 09:31] #1673 closed

[2020-11-11 20:18] rmallof opened #1675 "navigationTimeout not working with click()"
**Describe the bug**
navigationTimeout is not taking effect

**To Reproduce**
Steps (or script) to reproduce the behavior:

1. Using await click(into(link(text))); while testing a page that takes up to 22 seconds to load, I get: "Error Message: Error: Link with text X not found"

Since it really takes a lot of time:

![image](https://user-images.githubusercontent.com/3352772/98859194-11dca580-2462

[2020-11-11 20:23] rmallof commented on #1624
Thank you @zabil @saikrishna321 - you rock!

[2020-11-11 20:53] rmallof opened #1676 "Readable mechanism to deal with "buttons" based on css, divs and spans"
**Is your feature request related to a problem? Please describe.**
I find hard to create readable selectors when dealing with pages using CSS or other drawings resembling buttons - see the screenshot below

I tend to copy-paste Xpath selectors from Chrome in this case, resulting in something like:

`click($('//*@id="69540"]/label/div[2]/span'))
`

**Describe the solution you'd like**
I'd like to u

[2020-11-11 20:54] rmallof commented on #1676
Maybe related to https://github.com/getgauge/taiko/issues/89

[2020-11-11 21:57] zabil commented on #1676
[code]

Searches for an attribute string.

To match based on css please use [css selectors](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Selectors) in your case this will be

[code]

More info at [$](https://docs.taiko.dev/api/$/)

[2020-11-11 21:57] #1676 closed

[2020-11-11 22:20] rmallof commented on #1676
Thanks for the quick response. For the record, the correct syntax is: click($(".options-button")):

[code]

@zabil It is possible to use proximity selectors instead of $?

[2020-11-12 02:24] roughsoft opened #1677 "Node-RED+taiko"
Node-RED is Low-code programming for event-driven applications.
I think we can transfer api to flow node ，then we can build test script through create node flow in Node-RED flow editor.
https://nodered.org

[2020-11-12 03:17] NivedhaSenthil commented on #1675
navigationTimeout is for waiting after the action is performed and not for the availability of the element.. try waiting for existence of the element instead like below
[code]

[2020-11-12 03:57] NivedhaSenthil commented on #1604
After some debugging found that this is happening because of a difference in behavior in Chromium...[page.close](https://github.com/getgauge/taiko/blob/17439209ac785987edefe9a4b62ef2245865d7a8/lib/taiko.js#L310) which is done in closeBrowser closes only the page in other platforms and in windows headless mode. But in headful mode in windows the browser itself is being closed if it is the last page

[2020-11-12 07:20] dewirosalin opened #1679 "Click element is covered by other element"
**Describe the bug**
I want to click specific text that covered by fixed element and I got this error. It was working before in older version (1.0.23)

**To Reproduce**
Steps (or script) to reproduce the behavior:
1. Goto gauge documentation page
2. Click "Step 3"
3. Click "Step 1"
4. Error element is covered by other element

[code]

**Logs**

[code]

**Expected behavior**
As previous version, it

[2020-11-12 08:27] zabil commented on #1677
@roughsoft I am not sure how they integrate. As far as I know node-red is mostly used for raspberry pi and arduinos at-least that is the audience.

If you do have proof of concept to show what you mean that will be great. However, this can be a plugin and not part of the core functionality.

[2020-11-12 08:27] #1677 closed

[2020-11-12 09:57] zabil commented on #1676
From the screenshots you shared you could try something like

[code]

I am note sure as I do not have the full structure of the application.

Also, you might want to pop this question at https://spectrum.cat/gauge there are a few users who might be able to help.

[2020-11-12 09:59] zabil commented on #1675
Closing this issue for now as this is the right way to wait for elements.

[2020-11-12 09:59] #1675 closed

[2020-11-12 11:05] #1604 closed

[2020-11-12 18:55] rmallof commented on #1676
Thank you Zabil, I'll investigate 👍

[2020-11-12 18:59] rmallof commented on #1675
@NivedhaSenthil @zabil thanks for the reply. I have another question, based on https://github.com/getgauge/taiko#handle-xhr-and-dynamic-content:

Is there any way to interact with a webpage like the above free of explicit local/global waits?

Thanks

[2020-11-12 20:03] zabil commented on #1675
This implicit wait has a default timeout to avoid indefinitely waiting for elements. If page rendering times are longer than the default time, you can check why the element is takes so much time to load as this might be a usability issue. If that is not under your control you can override the default wait [time globally](https://docs.taiko.dev/api/setconfig/)

[2020-11-12 22:02] rmallof commented on #1675
Thanks Zabil!

[2020-11-13 08:38] NivedhaSenthil commented on #1679
The difference in behavior seems to be happening because of 64eb6f6 .. scrolling the element before action was updated to nearest instead of center to avoid unnecessary scrolling. We might have to find a better way to tackle this scenario.

[2020-11-13 13:20] rmallof commented on #1675
@NivedhaSenthil @zabil following your suggestion, I'm using:

`setConfig({navigationTimeout:60000, retryTimeout:60000, highlightOnAction:'true'});
`

Now, in less than 40s I get a different error:

Stacktrace:
        Error: Timed out
            at Timeout.<anonymous> (C:\gauge\plugins\js\2.3.14\src\test.js:44:23)
            at listOnTimeout (internal/timers.js:554:17)
            at processTime

[2020-11-13 15:08] zabil commented on #1675
There are two timeouts.

* Taiko timeout
* Gauge timeout

If you are using Taiko with Gauge you need to increase Gauge's timeout to be more than Taiko's, you can find more info here

https://docs.gauge.org/configuration.html?os=linux&language=javascript&ide=vscode#language-plugin-configurations

[2020-11-15 21:49] rmallof commented on #1675
Thank you Zabil!

Setting _test_timeout = 30000_ @ js.properties made the job!

[2020-11-17 07:49] saikrishna321 opened #1684 "Selenoid Support fails on v1.0.28"
Taiko was able to establish connection to Selenoid cluster with wsDebugUrl in v1.0.24. With the latest version it throws error

[code]

[2020-11-19 12:03] roughsoft opened #1687 "friendly upload and download API"
https://docs.taiko.dev/file_upload_and_download/
It is so ugly code
why not design API like these：
upload(fileField(selector),fileName,selector for upload button )
download(selector ,fileName)
fileName can include path

[2020-11-19 12:05] roughsoft commented on #1687
https://tagui.readthedocs.io/en/latest/index.html
download https://admin.typeform.com/xxx to report.csv

[2020-11-19 12:56] zabil commented on #1687
@roughsoft really appreciate it if you can fill up the issue template so that someone who wants to pick up this issue has a clear idea. The issue template lists these sections which is missing in this issue. I see them populated when I create a new issue.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frust

[2020-11-19 12:56] #1687 closed

[2020-11-19 15:01] #806 closed

[2020-11-19 15:30] sguptatw opened #1689 "Accessibility with Taiko"
**Is your feature request related to a problem? Please describe.**
Elements are identified based on what is visible on the screen. But some elements do not have associated text visible on screen. To test accessibility or perform action on elements without text, we may have to use selectors that are CSS and XPath selectors dependent. As powerful as they can be, they have drawbacks like HTML structu

[2020-11-20 02:17] roughsoft opened #1690 "friendly upload and download API"
**Is your feature request related to a problem? Please describe.**
https://docs.taiko.dev/file_upload_and_download/
It is so ugly code

**Describe the solution you'd like**
why not design API like these：
upload(fileField(selector),fileName,selector for upload button )
download(selector ,fileName)
fileName can include path

**Describe alternatives you've considered**
https://tagui.readthedocs.io/en

[2020-11-20 07:27] NivedhaSenthil commented on #1559
@ceisele-r and @dewirosalin any updates on the issue ?

[2020-11-20 10:10] zabil commented on #1690
The uploading a file has two parts in a web application

* Attaching a file location with a specific local path
* Clicking on a button to post the attached file and confirm the upload

in code as follows

[code]
Also file field is sometimes hidden under another front end hence the use of proximity selectors covers those cases.

You api suggestion, clubs both these actions together

[code]
which do

[2020-11-20 10:10] #1690 closed

[2020-11-22 13:34] klhex commented on #1230
I think page.authenticate from the puppeteer example indeed relates to the proxy authentication while the example of https://github.com/getgauge/taiko/blob/master/examples/06-basic-auth.js#L9 relates to the basic authentication of a website, which are two different things (for me at least it didn't work as implied above).

A solution that works well with taiko and chromium is to separately install

[2020-11-23 09:19] dewirosalin commented on #1559
As for me, I don't see this error anymore so far.

[2020-11-23 10:16] #1559 closed

[2020-11-23 14:41] srp-at-ema opened #1704 "Highlighting is off [Windows]"
### Describe the bug
Highlighting is off as you can see on the attached .GIF
### What command(s) did you run when you found the bug?
`mkdir ptg`
`cd ptg`
`gauge init js`
open the `ptg` folder in vscode
`npm init`.
I click on `Run Spec` above *# Getting Started with Gauge*
### Output, stack trace or logs related to the bug
![highlight4](https://user-images.githubusercontent.com/68943060/100258848-d

[2020-11-25 06:37] roughsoft opened #1703 "using index selector element"
**Is your feature request related to a problem? Please describe.**

There are 13 links on the page.The name is the same.
How can I select the 13th link?

**Describe the solution you'd like**

link(12) | Using index in the page; assuming it is the 13th link on the page.
link(0, near("User Two"))

**Describe alternatives you've considered**
A clear and concise description of any alternative solution

[2020-11-25 06:41] NivedhaSenthil commented on #1703
`await link().elements()` will return all the links in the page, for more examples refer https://docs.taiko.dev/working_with_element_lists/

[2020-11-25 06:46] roughsoft commented on #1703
thank you !
I know it.
If we could support these selector policy ,it can make life better.
link(index)
link(index,proximity selectors)

[2020-11-25 06:55] roughsoft commented on #1703
Element {
  objectId: '-5335921367651143915.2.712',
  description: '',
  runtimeHandler: {
    findElements: [AsyncFunction: findElements],
    activeElement: [AsyncFunction: activeElement],
    runtimeEvaluate: [AsyncFunction: runtimeEvaluate],
    runtimeCallFunctionOn: [AsyncFunction: runtimeCallFunctionOn]
  }
}

Uncaught link(...).element(...).exists is not a function

[2020-11-25 06:59] roughsoft commented on #1703
@NivedhaSenthil
In repl console I try these statement:
link().element(1)
It is ok!
When I try these:
link().element(1).exists()
I get error:
Uncaught link(...).element(...).exists is not a function

[2020-11-25 07:07] NivedhaSenthil commented on #1703
link().element(1) this is an asyncs func which has to be awaited `await (await link().element(1)).exists()`

[2020-11-25 07:18] roughsoft commented on #1703
ok
If we can support these statement:
textBox(index)
textBox(index,proximity selectors)
It would be awesome!
You know we often need fill a lot of input fields in table ,in these situation we can not selector .
sometimes we can not select table, then we would be in trouble

[2020-11-25 09:27] zabil commented on #1703
Unfortunately Taiko's API cannot be changed to add another parameter like `index` as this will break backward compatibility.

Using

[code]

Should be the best option.

[2020-11-25 09:27] #1703 closed

[2020-11-25 14:38] zabil commented on #1704
![Kapture 2020-11-25 at 14 34 41](https://user-images.githubusercontent.com/54427/100241442-97b12400-2f2b-11eb-86b7-6dae74158283.gif)

I am unable to replicate this on windows. Was this one off or do you see it happening again? As the page does not seem to render correctly, it could've been a network issue. Can you please confirm that you see this consistently?

[2020-11-25 15:24] srp-at-ema commented on #1704
I see that everytime.

[2020-11-25 15:52] srp-at-ema commented on #1704
Do you have any idea in which direction to investigate? Both computers run Windows.

[2020-11-25 15:57] zabil commented on #1704
If you have chrome or chromium installed on the machine can you try opening https://todo.taiko.dev and inspecting the browser console or network tabs (in developer tools) to see if there are any errors? Also to see if the page is rendered correctly with reference to the screen grab I posted.

[2020-11-25 16:01] srp-at-ema commented on #1704
I see what you mean with not rendering. I had lowered the quality of the GIF before uploading it. Opening https://todo.taiko.dev/ in Chrome and it's looking good.

[2020-11-25 16:05] srp-at-ema commented on #1704
I see the same two errors in the Chrome console whether I open the https://todo.taiko.dev/ in Chrome or I quickly do a F12 when the test is executing. Nothing more, nothing less.

[2020-11-25 16:10] zabil commented on #1704
What's the exact error you see on the console?

[2020-11-25 16:11] srp-at-ema commented on #1704
![image](https://user-images.githubusercontent.com/68943060/100253332-414ee000-2f41-11eb-8481-d0e5fb46d235.png)

[2020-11-25 16:33] srp-at-ema commented on #1704
I modified the example to use google and enter a search term. Same problem, the highlight is below to the right.
![highlight2](https://user-images.githubusercontent.com/68943060/100255864-5a0cc500-2f44-11eb-8a01-283de289addc.gif)

[2020-11-25 16:40] zabil commented on #1704
Ok, that's very strange. Can you try deleting the `node_modules` folder so that the latest versions of chromium and taiko is downloaded again?

[2020-11-25 16:46] srp-at-ema commented on #1704
I modified the example to use google and enter a search term. Same problem, the highlight is below to the right.
![highlight3](https://user-images.githubusercontent.com/68943060/100257431-30549d80-2f46-11eb-9aa7-d8ec1abb6963.gif)

[2020-11-25 16:52] srp-at-ema commented on #1704
This last shot is from a different project than the initial one. After deleting `node_modules`, am I supposed to `npm init` or something else? For when I call `gauge run specs` it is not working anymore.

[2020-11-25 17:00] zabil commented on #1704
You can get all the dependencies back after running

[code]
In your project folder.

[2020-11-25 17:03] srp-at-ema commented on #1704
So I did exactly that (`npm install`). But as expected it has not changed much.

[2020-11-25 17:05] srp-at-ema commented on #1704
Thanks for your help by the way. Much appreciated. And it's no high prio, as it works in my work remote environment, just not on my own laptop.

[2020-11-25 17:09] srp-at-ema commented on #1704
I found it! I have a 4k screen:
![image](https://user-images.githubusercontent.com/68943060/100260088-4e6fcd00-2f49-11eb-8982-5d7846e0b75c.png)

[2020-11-25 17:11] srp-at-ema commented on #1704
If I go to 100% it's ok.

[2020-11-25 17:13] srp-at-ema commented on #1704
Is that a bug or a limitation? Thank you.

[2020-11-25 19:40] zabil commented on #1704
Oh wow, good catch. This should not be happening, it could be a bug. Will take a look at it soon.

[2020-11-30 07:38] roughsoft opened #1707 "Playwright Test Runner：folio"
**Is your feature request related to a problem? Please describe.**
folio+taiko is the same as jest+tailo
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots

[2020-11-30 09:02] zabil commented on #1707
It Taiko should work with folio as it works with jest.
Are you facing any issue during the integration?

[2020-11-30 09:07] roughsoft commented on #1707
need some work
folio is more power and more customable than jest.

[2020-11-30 09:10] roughsoft commented on #1707
I suggest making some example project.like these:
https://github.com/microsoft/playwright-test
We need taiko-folio-test

[2020-11-30 09:12] zabil commented on #1707
As you are experimenting with it. Would you be willing to create a sample project and raise a PR?

[2020-11-30 09:48] roughsoft commented on #1707
I can try it.

[2020-12-07 06:53] roughsoft opened #1715 "taiko-core lib"
**Is your feature request related to a problem? Please describe.**
we just want to use taiko in node env to connecting my electron application
**Describe the solution you'd like**
we can package taiko-core lib, the same as puppeteer

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add an

[2020-12-07 10:30] zabil commented on #1715
Please refer https://github.com/getgauge/taiko/issues/940

[2020-12-07 10:30] #1715 closed

[2020-12-08 04:35] NivedhaSenthil commented on #1684
Fixed via 1.1.0

[2020-12-08 04:35] #1684 closed

[2020-12-08 13:29] Willmiff opened #1720 "Cannot navigate to non http url"
**Describe the bug**
When trying to navigate to a page hosted as part of a chrome extension, taiko adds http before the url is passed to the browser, so navigating to chrome-extension://gjaerjgaerjeoareapoj/internalPage.html becomes http://chrome-extension://gjaerjgaerjeoareapoj/internalPage.html

If you debug it, and set the url back to chrome-extension://gjaerjgaerjeoareapoj/internalPage.html af

[2020-12-09 06:21] #1720 closed

[2020-12-09 10:39] zabil commented on #1720
@Willmiff this change is now available in `master` you can test it out using

[code]

[2020-12-11 07:44] NivedhaSenthil opened #1728 "Error: No target with given id found"
**Describe the bug**
Close the first tab of new incognito session and then close the incognito window causes `Error: No target with given id found`

**To Reproduce**
[code]

**Logs**

[code]

**Expected behavior**
Should close the incognito window without error.

**Versions:**
 - Taiko: Version: 1.1.0 (Chromium: 88.0.4314.0)

[2020-12-11 09:21] leandrosansilva opened #1729 "dropDown is not able to find select menu by label"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps (or script) to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

This is the static HTML for the page in the link used below (https://leandrosansilva.gitlab.io/taiko-page-test/):

[code]

For the context, in the real application, the tags attributed (selec

[2020-12-11 09:28] NivedhaSenthil commented on #1729
`dropDown` api expects a label to identify the select tag element..in the example you have mentioned it is an option which you were trying to use

[2020-12-11 09:49] leandrosansilva commented on #1729
Hi @NivedhaSenthil thank you for the quick reply. I've realized I ruched and misnamed the issue and just fixed its title.

Now the title describes the issue properly.

I'd expect `dropDown` to find my menu by how it looks visually. In case my assumption is invalid, what would you recommend me to use instead?

[2020-12-11 10:02] zabil commented on #1729
Since there is only one dropdown on your page the following should work

[code]

As mentioned earlier "Most of my mail is…" is a dropdown value and not a label.

[2020-12-11 10:04] zabil commented on #1729
Also to match part text you should ideally be using regex support

[code]

[2020-12-11 10:05] #1729 closed

[2020-12-11 10:28] #1470 closed

[2020-12-11 10:40] leandrosansilva commented on #1729
Yes, I mentioned the empty `label` as it obviously works in my example, but won't in case I have multiple dropdowns in a page, where probably the first one will always be chosen.

@zabil would you recommend another way of finding the select by the visually displayed selected option?

[2020-12-11 11:34] zabil commented on #1729
The only other way is to refer the dropdown by index https://docs.taiko.dev/working_with_element_lists/#using-indexes-and-loops

Or use a proximity selector to locate the dropdown near another element

[code]

[2020-12-11 12:39] #1707 closed

[2020-12-11 14:54] zabil commented on #1595
Don't think there is a fast way to check to valid expath without evaluating it against the document. It's better to stick to simple string check.

[2020-12-11 14:54] #1595 closed

[2020-12-16 08:10] gurashish-relicx opened #1744 "Text Box with label not found"
Taiko is unable to write a text into a textBox with a user visible label in some cases.

HTML of the element in question
`
<input class="form-control" placeholder="Department Name" autofocus="autofocus" type="text" name="department[name]" id="department_name">
`

**To Reproduce**
Steps (or script) to reproduce the behavior:
[code]

The following script for a similar element but a different page wo

[2020-12-16 08:51] zabil commented on #1744
Thanks for the detailed report. I can replicate this. But I am sure this is because of the following structure

[code]

Notice the `<label for="department_department_name">Department name</label>` points to an invalid inout text id. It must be`<label for="department_name">Department name</label>`

In this case Taiko pointed out to a failure in the accessibility of the page and wrong html sematic.

[2020-12-16 20:17] gurashish-relicx commented on #1744
Thanks Zabil for the analysis. I verified that the issue goes away when I
corrected the label

I think you are right in this case the test should fail.

However the error message is not very intuitive, atleast to naive eyes. It
wasnt obvious to me, and I believe most testers would think the page is
fine and the bug is in the test infra.

If we have a better message showing that the id "department_

[2020-12-16 20:56] zabil commented on #1744
Ideally yes. But this is pretty hard to print out in the current implementation as the selector logic fails and Taiko does not read the values. Taiko does expect semantically correct HTML.

The right way to actually do this is running [lighthouse](https://www.npmjs.com/package/lighthouse) or [axe-core](https://www.npmjs.com/package/axe-core) on the page to point these issues and then running Taiko

[2020-12-16 20:56] #1744 closed

[2020-12-21 07:06] saikrishna321 commented on #1356
@tymfear Published taiko-selenoid plugin https://github.com/saikrishna321/taiko-selenoid

[2020-12-21 07:06] saikrishna321 commented on #1649
@roughsoft Plugin for Selenoid is published https://github.com/saikrishna321/taiko-selenoid

[2020-12-21 08:05] #1649 closed

[2020-12-21 09:55] giorgiosironi opened #1751 "Typescript compilation error due to missing devtools-protocol types"
**Describe the bug**

Compiling TypeScript tests using Taiko results in a missing type declaration error:
[code]

Installing `devtools-protocol` as a dev dependency mitigates the problem as the error disappears, but it might introduce version mismatches with what Taiko expects.

**To Reproduce**
Steps (or script) to reproduce the behavior:
1. `npm install --save-dev taiko`
2. Compile the following

[2020-12-21 15:47] zabil commented on #1751
[code]

It looks like the `.ts` is the only place using the import. Please feel free to raise a PR to move it as a dependency.

[2020-12-23 06:22] roughsoft commented on #1649
Great job！
@saikrishna321

[2021-01-03 17:22] valentijnscholten commented on #1666
Created https://github.com/getgauge/taiko/discussions/1761 now that Taiko moved from Spectrum to Github Discussions.

[2021-01-04 05:03] saikrishna321 opened #1762 "Plugin not working with TS"
When I was adding taiko plugin to TS Taiko project I'm getting this error - TSError: ⨯ Unable to compile TypeScript:
test/performance/performance.spec.ts:1:43 - error TS2305: Module '"taiko"' has no exported member 'diagnostics'.

1 import { openBrowser, goto, closeBrowser, diagnostics } from "taiko";
[code]

[2021-01-04 08:14] zabil commented on #1762
Looks like this is a problem with how Taiko extends these methods for plugins as typescript expects the types to be in https://github.com/getgauge/taiko/blob/master/types/taiko/index.d.ts which is static.

[2021-01-06 11:20] saikrishna321 opened #1769 "intercept API should allow to continue the request"
Currently intercept API cannot continue the request and it always looks for an object as part of the API.

Current Scenario: I want to just inspect the headers and not modify the response. This is not possible in the current version.

[2021-01-06 13:00] #1769 closed

[2021-01-06 15:00] klhex opened #1771 "FileField error "is not visible" despite 'selectHiddenElements: true' since Taiko v1.1.1"
**Describe the bug**
Since Taiko v1.1.1 (incl. v1.1.2) I get an "is not visible" error when trying to upload a file via fileField with option 'selectHiddenElements: true'. The same code works fine until incl. Taiko v1.1.0. (Maybe a regression caused by https://github.com/getgauge/taiko/pull/1759?)

**To Reproduce**
Steps (or script) to reproduce the behavior:
1. Create an upload container as per t

[2021-01-07 15:05] zabil opened #1777 "Regression in the write API"
**Describe the bug**

The mocha tests for write api fails on the latest `master` version beed2ce

With the following error

[code]
**To Reproduce**
[code]

**Expected behavior**
The tests should pass

**Versions:**
[code]

[2021-01-11 10:21] saikrishna321 commented on #1777
@zabil After upgrading to v1.1.2 we are seeing our tests failing for the same reason. Not writable

[2021-01-11 10:27] zabil commented on #1777
Ok, so it's not just a problem on my machine. Can you share the version of Node Js you are using?

[2021-01-11 10:32] saikrishna321 commented on #1777
v1.1.0 works fine.
v14.8.0 node

Tested on Mac OS.

[2021-01-11 10:34] zabil commented on #1777
Yes. A git bisect pointed to this change 854119b764f1494966af425d8d591462b5d3b7c0 I did look at it but could not find any change related to `write` api

[2021-01-11 11:18] zabil commented on #1777
Ok a bit more digging and this test is flaky and that led me to the wrong git bisect for example here in this version it fails and then passes

[code]

[2021-01-12 13:28] KarianneM commented on #1777
The write also fails for me for v1.1.2 and v1.1.1. v1.1.0 works fine
I work on Windows with node version 12.18.3

[2021-01-12 14:57] zabil commented on #1777
It looks like this 1a18bbb might have caused the regression

[2021-01-12 14:59] zabil commented on #1771
Could be related to https://github.com/getgauge/taiko/issues/1777

[2021-01-12 15:20] zabil commented on #1777
@KarianneM @saikrishna321 I was able to get the test passing adding a `await focus(textbox(...))` before the calling `write(textbox)` Ideally this shouldn't be the case. But it looks like the textbox is being marked as non writable when it does not have focus.

Can you check if this solved the problem?

[2021-01-12 16:14] KarianneM commented on #1777
Works in my case

[2021-01-12 18:20] saikrishna321 commented on #1777
In my case it was write into tableCell. Will look into write API tomorrow to see if I can add a fix...

[2021-01-13 09:22] klhex opened #1789 "[DOC] URL https://docs.taiko.dev/api/focus no longer found (HTTP 404)"
**Describe the bug**
Trying to access the URL https://docs.taiko.dev/api/focus (from within https://docs.taiko.dev/api/reference/) leads to an HTTP 404 error (page not found).

**To Reproduce**
Steps (or script) to reproduce the behavior:
1. Go to https://docs.taiko.dev/api/reference/
2. Locate 'focus' entry and click on it.

**Expected behavior**
API documentation for page action 'focus' is shown

[2021-01-13 10:36] zabil commented on #1789
Fixed with 58994f8

[2021-01-13 10:36] #1789 closed

[2021-01-13 19:53] Niek opened #1790 "New targets (popups) not properly attached"
**Describe the bug**
New targets such as popups are not properly attached. Here is some sample REPL:

[code]

**Expected behavior**
The newly opened tab should have the iPhone 6 user agent as well. Instead, it gets the non-emulated device user agent.

**Versions:**
 - Taiko: 1.1.2
 - OS: macOS 11
 - Node.js: v15

[2021-01-14 00:15] CDFriend commented on #1762
I'm using a plugin with Typescript as well and I'm running into the same issue. My workaround is to import the plugin in a Javascript module, then import that into my Typescript code. This eliminates the benefits of Typescript for my plugin though - are there any plans to address this in a later release of Taiko?

[2021-01-14 21:09] klhex opened #1792 "click(link(...)) not working when link text is line wrapped?"
**Describe the bug**
I have several links within a text section (belonging to a checkbox):
![image](https://user-images.githubusercontent.com/71178731/104649405-f76ab680-56b4-11eb-8f4c-e4d194f17be5.png)
I can successfully click (new tab opens with linked PDF file) on every link via ```click(link(...))``` like so (one example):

```await click(link('Sonderbedingungen zum Girokonto'));``` etc.

exce

[2021-01-15 10:01] KarianneM commented on #1777
@saikrishna321 @zabil The focus works for my login screen. Further in the process at the search screen I get the same error as before.
![image](https://user-images.githubusercontent.com/71637638/104710906-f2dbe780-5720-11eb-91fe-fb346052d5a3.png)

[2021-01-15 12:19] zabil commented on #1790
This seems to be the default behavior for new windows opened outside the emulation mode when using chromium devtools. The workaround would be call `emulate` again to set the view port.

[2021-01-16 09:57] ramirobg94 commented on #98
Does it work with headless:true?

[2021-01-16 14:11] klhex opened #1797 "Incomplete support for event 'targetNavigated' (DOC / Typescript)"
**Describe the bug**

1. If you're trying to use the code example ```await click(link('open new tab'),{waitForEvents:['targetNavigated']})``` from https://docs.taiko.dev/frequently_asked_questions/#how-can-i-customize-taiko's-wait-events%3F in Typescript, then you get the following error message upon compilation: "TS2322: Type '"targetNavigated"' is not assignable to type 'BrowserEvent'."

2. It i

[2021-01-18 01:15] NivedhaSenthil commented on #1797
yes, `targetNavigated` event can be added to all api that accepts `waitForEvents` as an option. Will be happy to review a PR 👍

[2021-01-18 01:30] NivedhaSenthil commented on #98
Yes it should work in both headless and headful mode

[2021-01-18 01:49] NivedhaSenthil commented on #1771
Yes this a regression because of #1759 where actions are updated to check if element is actionable...I feel we should be providing an option to choose check on actions and element wrappers should be fetching all the available elements and not filter them. Since `exists()` and `visible()` methods in the element wrapper both are same currently as the filtering for visible elements is done by default

[2021-01-18 07:22] klhex commented on #1797
Thanks for the information, that sounds feasible for me. Will give it a try most likely this week (incl. week-end). :thumbsup:

[2021-01-18 07:37] NivedhaSenthil commented on #1777
Though I couldn't see the unit tests failing locally.. I guess that the changes made to wait for actionable element now fetches the auto focused element and then checks if it is writable whereas earlier the check was to continuously check the current focused item instead of checking the pre-selected auto focused element. Will try fixing this.

[2021-01-18 08:16] zabil commented on #1771
Is it possible for the attach API to always work without the filtering? In most of the cases the attach field will be hidden. I think it should just work as before without the extra parameter.

[2021-01-18 08:29] NivedhaSenthil commented on #1771
May we could remove the check for visibility for attach action, even earlier we had an extra argument passed to the selector `{selectHiddenElements:true}` I feel selector shouldn't be doing the filtering of non visible elements by default and it should be the responsibility of actions to check before preforming the action. And the option that I had suggested could be applied to any action like `cl

[2021-01-18 08:59] zabil commented on #1771
Yes, I agree but mostly that field is hidden.

Yes, I think this makes sense. However `click('Click me', {force:true})` is not as readable as `{selectHiddenElements:true}` where it documents the state of the element. Maybe a simpler version `click('Click me', {hidden:true})` ? It doesn't mean the selector is filtering just says that the element is hidden but the click will perform anyway. It will

[2021-01-18 09:49] NivedhaSenthil commented on #1771
So would we be having separate action for each checks like `{covered:true, visible:true, disabled: true}` etc ?

[2021-01-18 10:03] zabil commented on #1771
Ah now I see, there are other states.

That would be a bit too much. Maybe think of it another way? Click on the element and warn if the element is covered/visible/disabled instead of throwing an error and not clicking?

[2021-01-18 10:15] NivedhaSenthil commented on #1771
This may cause the actual error to be hidden as a warning and make an irrelevant step to fail which will not be captured in reports and user will have to manually go through logs to debug

[2021-01-18 10:24] zabil commented on #1771
I meant perform the click action by default even if the element is covered/hidden/disabled which is the equivalent of saying turn on `click('Click me', {force:true})` by default. If they want the click to fail use `click('Click me', {force:false})`

[2021-01-18 10:30] NivedhaSenthil commented on #1771
I feel users wanting to perform an action on non actionable element would be an edge case rather than a default one. If we are introducing an option force it would be better if it is set to false by default IMHO.

[2021-01-18 12:17] #1777 closed

[2021-01-22 01:29] NivedhaSenthil commented on #1771
Is it fine if we remove the current option `selectHiddennElements`  ? or should we deprecate and fix it for now ?

[2021-01-22 01:41] NivedhaSenthil commented on #1771
Just realized if we have to deprecate action wont be able to do the checks even if the option is not specified as they are at different levels(selector and action)

[2021-01-25 10:14] #1797 closed

[2021-01-26 23:42] nseshadr opened #1822 "The react product grid not loading when opened the url from taiko browser command"
When i try to load the below urls, the product grid (built using react) is not loading. This happens only when i try loading using taiko goto command. The page loads fine when opened on a chromium or chrome browser normally.

I tried this on both Chromium as well as Chrome. The results are same.

Steps to reproduce
On taiko prompt

One other example:
https://www.esteelauder.com/products/631/produc

[2021-01-27 02:34] saikrishna321 commented on #1762
@zabil @NivedhaSenthil Ping

[2021-01-27 09:27] zabil commented on #1822
The site might be blocking bots as on the console I see the following errors.

[code]

Please try specifying a path to the Chrome executable using the enviroment variable ["TAIKO_BROWSER_PATH"](https://docs.taiko.dev/configuring_taiko/#using-environment-variables)

[2021-01-27 10:20] zabil commented on #1762
Have you tried the following

[code]

I think this is probably the best way to use plugins in typescript without having to add the types in the .d.ts file.

[2021-01-27 11:21] nseshadr commented on #1822
INTERNAL

Hi,

Thanks for looking in to the issue. I did set the suggested environment path during the initial set up itself. I guess it is not helping.

Any other work around?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Zabil Cheriya Maliackal <notifications@github.com>
Sent: Wednesday, January 27, 2021 4:27 AM
To: getgauge/taiko
Cc: Seshadri, Narasimharagha

[2021-01-29 13:38] orsi-crey opened #1831 "Ability to set waitForEvents in config, add LargestContentfulPaint"
**Is your feature request related to a problem? Please describe.**
I had a problem where a page was seemingly completely loaded, but I still got the error of Navigation took more than 30000ms. I tried setting it higher with the same result. It seemed like the firstMeaningfulPaint event never arrived. When I changed to firstContentfulPaint, the problem stopped.
Also, I couldn't see it on the Perfor

[2021-01-29 21:42] CDFriend commented on #1831
+1 to this!

[2021-01-30 06:48] nseshadr commented on #1822
Hi,

Following up to see any solution for this issue.

[2021-01-30 08:56] dottjt opened #1832 "DNS_PROBE_FINISHED_NXDOMAIN when using goto() - web pages won't load"
**Describe the bug**
I don't know why it's doing this, but basically whenever I run `goto()` the website will not load within the Chromium instance that's created with `openBrowser()`. My guess is that this is due to a setting within Chromium, but it's simply using the one that comes default with Taiko, and it has not been modified in any way.

Within Chromium I get the error:

[code]

Within the

[2021-01-30 19:28] dottjt commented on #1832
I think the issue might be Taiko itself. One thing I notice is that if I load the Chromium instance by itself within the command-line it works 100% perfectly fine i.e.

`node_modules/taiko/.local-chromium/mac-823078/chrome-mac/Chromium.app/Contents/MacOS/Chromium`

[2021-01-31 23:35] amitsarkar007 commented on #1771
Any updates on this issue please?

[2021-02-01 04:13] NivedhaSenthil commented on #1771
There is a PR raised #1819 for a fix..will have to work on review comment to make a release soon

[2021-02-01 08:47] zabil commented on #1832
I can't seem to replicate this. Can you share the script you are using?

[2021-02-03 10:56] NivedhaSenthil commented on #1771
please try upgrading to latest version(1.2.0), which has a breaking change of removing `{selectHiddenElements:true}` option,  instead of which `{force: true}` option is added to actions.

Example:
[code]

[2021-02-03 13:26] klhex commented on #1771
Works for me, thanks!

However, Typescript support is still missing for the new option. I'm going to raise a PR soon (probably today or tomorrow) with a low-effort attempt to add TS support. Please check then whether my approach (as a JS/TS beginner) looks about ok.

[2021-02-03 14:00] NivedhaSenthil commented on #1771
Thanks for the update @klhex will be happy to review a PR

[2021-02-05 06:36] NivedhaSenthil commented on #1831
Can you please let us know which version of Taiko you are on ? Taiko has moved way from waiting for `firstMeaningfulPaint` long back since that hypothesis dint work out. Currently taiko wait for page load and other network calls. If you are on latest version of Taiko please check if there were any unresolved requests.

Adding waitForEvents as part of `setConfig` can be a good option, will be happy

[2021-02-05 06:40] NivedhaSenthil commented on #1822
Can you please let us know if there is any check made using user-agent or something to restrict access for those particular URLs which are throwing 422?

[2021-02-05 06:40] #1790 closed

[2021-02-05 06:41] NivedhaSenthil commented on #1792
Closing as we wont be able fix this..please use the workaround

[2021-02-05 06:41] #1792 closed

[2021-02-05 06:43] #1541 closed

[2021-02-05 06:43] #1589 closed

[2021-02-05 06:44] #393 closed

[2021-02-05 06:46] NivedhaSenthil commented on #630
`selectHiddenElements` option is now removed and all page actions does actionablility checks respectively before performing the action and the action can be forced on non actionable element by setting `force: true` option

[2021-02-05 06:46] #630 closed

[2021-02-05 06:55] NivedhaSenthil commented on #1441
Works fine with 1.2.0

[2021-02-05 06:55] #1441 closed

[2021-02-05 06:56] #1509 closed

[2021-02-05 11:36] orsi-crey commented on #1831
Sure, sorry i forgot to add. Locally it was a bit behind (1.0.28), but in azure it always ran with the latest release (so currently 1.2.0, or when I last had the 30000ms timeout it was 1.1.4). I've checked https://docs.taiko.dev/api/goto/ for the default value, maybe it's outdated?
Changing goto to firstContentfulPaint seems to stop the issue so far.

[2021-02-08 02:25] athiramanu commented on #1728
Hi @NivedhaSenthil
I would like to work on this issue

[2021-02-08 03:02] sriv commented on #1728
Awesome @athiramanu - please shout out if you need anything

[2021-02-08 04:30] NivedhaSenthil commented on #1831
Thanks for pointing that out, yes docs seems outdated.

[2021-02-08 09:01] quynhlev opened #1849 "Cannot hover to display tooltip"
**Describe the bug**
I need to click a tooltip which is displayed when hover to text.
When run No HEADLESS, I must move mouse to hover text then tooltip appears, I can process with tooltip later.
But when I run HEADLESS, it's failed at step to take action on tooltip, I open screenshot report and see tooltip cannot appear

**To Reproduce**
Steps (or script) to reproduce the behavior:

[code]

**Exp

[2021-02-08 23:56] CDFriend commented on #1831
I can take a look at this one in the next couple of days.

@NivedhaSenthil @orsi-crey Did we want to set LargestContentfulPaint as the default for waitForEvents moving forward?

[2021-02-09 03:33] athiramanu commented on #1728
I have raised a draft PR. Could someone please confirm whether the approach is okay?
Also, the unit test seemed to be failing on using the null coalescing operator. When this was replaced by a conditional operator, the tests passed. Is there any reason for the same?

[2021-02-09 15:42] nseshadr commented on #1822
I dont think there is any restrictions. If you look at those urls, only the product grid is not loading (those are react components). The rest of the page is loading fine.

[2021-02-09 17:21] CDFriend opened #1852 "TimeField unit tests failing on Node.js 14.15.4"
**Describe the bug**

Some of the unit tests for the TimeField selector appear to be failing. The expected date is off by 1 from the actual date.

[code]

Since Node 14 is the current LTS version, it might be worthwhile to run the unit tests under Node 14 in CI.

**To Reproduce**

To repro, run:

[code]

**Logs**

[code]

**Versions:**

 **OS:** Windows 10 20H2
**Node.js version:** 14.15.4
**Taiko

[2021-02-09 19:58] zabil commented on #1822
Is it possible to share small test script using the tool you that worked on the page? This will help with debugging the issue.

[2021-02-09 20:05] CDFriend commented on #1831
@orsi-crey I just created a draft pull request which allows the default WaitForEvents parameter to be set globally in `setConfig`.

I had a couple documentation questions before publishing the PR:
1. Currently we state that `waitForEvents` has a default value of `firstMeaningfulPaint`. Looking at the code, the default value is actually undefined, meaning "just wait for the navigation event". Shoul

[2021-02-10 15:33] orsi-crey commented on #1831
@CDFriend wow, thanks!! :)
I agree it would be good to update the docs with both points, although I'm a bit confused which event does it actually wait for then?

[2021-02-10 17:03] CDFriend commented on #1831
Looking at the `doActionAwaitingNavigation` function, there's no default for the `waitForEvents` parameter. When we don't pass in a set of events, we go down a different code path and wait for `target-nagivated` from the browser.

![2021-02-10 08_51_41-doActionAwaitingNavigation js - taiko - Visual Studio Code](https://user-images.githubusercontent.com/8661121/107542773-61c02b00-6b7d-11eb-9204-a44

[2021-02-11 03:05] NivedhaSenthil commented on #1831
yes @CDFriend Taiko don't wait for lifecycle events now by default...navigation wait checks if the document readyState is `complete` to resolve https://github.com/getgauge/taiko/blob/c0eef59e0bd917e16a7880c3f71502c77de5ba90/lib/doActionAwaitingNavigation.js#L126, this logic can stay as is and we could just provide an option to set waitForEvents as a global config and update the outdated docs accor

[2021-02-11 03:15] NivedhaSenthil commented on #1849
Please share a sample html to replicate this

[2021-02-11 03:26] NivedhaSenthil commented on #1852
Tests passes fine me with `v14.15.5` and `v15.3.0`..probably we should be updating node versions in Github actions

[2021-02-11 17:38] markushinz commented on #1370
I am still having the same issue with version 1.2.0.
The good news is that I found a workaround. I am simply waiting for 1 second after calling goto:

[code]

Maybe this helps @NivedhaSenthil @zabil to solve the issue

[2021-02-13 03:29] gurashish-relicx opened #1862 "Click on NavLink on better.com doesn't show subNav"
**Describe the bug**
The click command on a nav link succeeds in taiko, but the app doesnt show subnav. Manually clicking on the same nav link works.

**To Reproduce**
Steps (or script) to reproduce the behavior:

[code]
**Expected behavior**
Expected to see the sub nav open with options "Purchase" and "Refinance"
Actual, you can see the red box drawn around "View rates" but sub nav doesn't open

[2021-02-16 09:05] saikrishna321 commented on #1862
@gurashish-relicx Can you try tap('View rates')

[2021-02-16 10:06] #1728 closed

[2021-02-16 10:15] NivedhaSenthil commented on #1862
I could replicate.. seems to be happening as Taiko tries to click exactly on the center of the element and that point is not clickable

[2021-02-16 11:40] james-k-mathew opened #1866 "Please provide pointers to setup Selenium Hub or equivalent for Taiko/Gauge with JS"
We are using Taiko + Gauge with JS
We need to run many scripts in parallel across multiple machines
Is there a way to setup Selenium grid for the (Taiko + Gauge with JS) or
is there any other equivalent way to do it

[2021-02-16 13:20] harimadusumilli commented on #1866
Yes, any pointers and documentation will be helpful. I am also looking for this documentation and ways to set it up.

[2021-02-16 19:19] gurashish-relicx commented on #1862
Yes tap('View rates') work.

[2021-02-16 19:42] jeevan-ui commented on #1822
Unable to connect to plugin Html Report 4.0.12. rpc error: code = Internal desc = grpc: error while marshaling: string field contains invalid UTF-8

I am facing this error while running gauge scripts, kindly help me.

[2021-02-17 04:20] NivedhaSenthil commented on #1866
selenoid can be used for this usecase I feel...there is [plugin](https://github.com/saikrishna321/taiko-selenoid) for the same

@saikrishna321 might have more context on this

[2021-02-17 04:26] saikrishna321 commented on #1866
@harimadusumilli @james-k-mathew I use [Selenoid](https://aerokube.com/selenoid/latest/) as grid and trigger the test in parallel. Each test will spin a new cluster in parallel.

[2021-02-17 05:34] james-k-mathew commented on #1866
@NivedhaSenthil @saikrishna321 , thank you very much, will look into it

[2021-02-17 08:45] #1862 closed

[2021-02-17 08:46] #1866 closed

[2021-02-17 15:37] gurashish-relicx commented on #1862
@saikrishna321 I can assume the "Tap" is a workaround, but a "click" should handle this too ? In what cases are we supposed to use the "click" command vs "tap" ?

[2021-02-17 20:59] nseshadr commented on #1822
You can try using selenium ide that comes with Chrome / FF as plugin.

[2021-02-18 04:57] levietquynh commented on #1849
@NivedhaSenthil you can see my repo here https://github.com/levietquynh/tk_support
When hover to comment "hello", a tooltip will appear. Taiko can pass the hover action, but the tooltip no longer displays, so it'll be failed to find Delete icon.

* Hover to "hello"
* Click to Delete icon
* Click Delete button

[2021-02-19 10:06] #1771 closed

[2021-02-19 10:13] NivedhaSenthil commented on #1862
Issue here is happening because of the wrapped text, [refer](https://github.com/getgauge/taiko/issues/366).

[2021-02-19 11:38] saikrishna321 opened #1877 "attach API to upload multiple files"
I have a Scenario to Upload multiple files at same time Can I do that using attach API. Need some help here.

Thanks In Advance.
Ram

_Originally posted by @rkreddy227 in https://github.com/getgauge/taiko/discussions/1859_

[2021-02-21 10:55] phonginx commented on #440
+

[2021-02-22 21:42] nseshadr commented on #1822
Attached raw request from client if that helps
[log.txt](https://github.com/getgauge/taiko/files/6025321/log.txt)

[2021-02-23 03:06] NivedhaSenthil commented on #1877
Available from Taiko 1.2.2

[2021-02-23 03:06] #1877 closed

[2021-02-23 03:07] NivedhaSenthil commented on #1852
Closing since our github actions runs on 14 too

[2021-02-23 03:07] #1852 closed

[2021-02-23 03:11] NivedhaSenthil commented on #1831
Closing as we can set `waitForEvents` as a global settings from Taiko 1.2.1

[2021-02-23 03:11] #1831 closed

[2021-02-23 21:47] orsi-crey commented on #1831
Thank you!!

[2021-02-25 07:31] saikrishna321 opened #1889 "NavigationTimeout does not indicate the API"
Error: Navigation took more than 30000ms. Please increase the navigationTimeout.
    at doActionAwaitingNavigation (node_modules/taiko/lib/doActionAwaitingNavigation.js:65:13)

[2021-03-03 02:42] sriv commented on #1822
I suspect this is because of Taiko potentially not passing/setting the CSP headers. See this discussion: https://github.com/getgauge/taiko/discussions/1745

[2021-03-09 16:35] nseshadr commented on #1822
is there an ETA for this solution? This is critical for us to use Taiko.

[2021-03-10 08:51] hangpham93 commented on #599
Hello everyone,
After researching more information, I can not found the option to handle the camera popup of chromium. Please help me suggest a solution.
I want click on <**Allow**> button of the popup <_qa-verify-with.blockpass.org wants to_>
![image](https://user-images.githubusercontent.com/59590365/110602069-2f274380-81b8-11eb-8410-7ae3a1de8d12.png)

[2021-03-11 09:33] hangpham93 commented on #599
Hi all,
After researching more time. I found to resolve this case by using code overridePermissions combine options (videoCapture, audioCapture)

[code]

[2021-03-11 18:34] esvet commented on #1413
Hi all,

I face same issues as described here before in headful mode with taiko dragAndDrop() in gauge tests on a vue.js ui.

It seems to be a similar above described issue, os takes over mouse control and interrupts mouse move simulation by taiko. Even when the mouse cursor is within the browser window it jumps there while test execution and looses its target. It only works when I help the taiko

[2021-03-11 23:36] asarkisian opened #1924 "Failed to kill Runner: rpc error: code = Unavailable desc = connection error: desc"
I am experiencing some issues which I cannot seem to resolve. I am constantly getting this error message and upon further inspection of logs/gauge.log, I can view the logs however it does not provide a stack trace. I'm hoping someone can shed some light on this matter. I will provide the console output as well as the log output. This is very difficult to debug as there is absolutely no stack trace

[2021-03-12 08:13] esvet opened #1925 "Taiko dragAndDrop not working in gauge headful execution"
Hi all,

I face same issues as described here before with issues [#104](https://github.com/getgauge/taiko/issues/104), [#1413](https://github.com/getgauge/taiko/issues/1413) in headful mode with taiko dragAndDrop() in gauge tests on a vue.js ui.

It seems to be a similar problem with dragAndDrop, when running os takes over mouse control and interrupts mouse move simulation by taiko. I can see the

[2021-03-16 02:19] NivedhaSenthil opened #1935 "Provide an option to bypass csp header"
Expose an api or a config to bypass csp headers for a page.

CDP api reference: https://chromedevtools.github.io/devtools-protocol/tot/Page/#method-setBypassCSP

[2021-03-16 02:21] NivedhaSenthil commented on #1822
This issue may not be related to CSP header.. I did try bypassing them that did not help.

[2021-03-17 08:17] zfrk commented on #1703
@NivedhaSenthil I tried this but also I am getting an error.
Uncaught (intermediate value).exists is not a function
![image](https://user-images.githubusercontent.com/9010753/111435592-0a7c2000-8712-11eb-9fb2-a49a491797ca.png)
![image](https://user-images.githubusercontent.com/9010753/111435641-14058800-8712-11eb-8b30-df9c7ca5511f.png)

[2021-03-17 13:20] sriv commented on #1924
hi @asarkisian - I notice this line:

[code]

Which tells me that the gauge-python runner is unable to load this file due to some error, and this has caused gauge-python runner to crash. The error could be due to multiple possible reasons (ex either due to a missed requirement, or an unsupported python version).

There is an [open issue](https://github.com/getgauge/gauge-python/issues/228) that ta

[2021-03-17 15:20] asarkisian commented on #1924
@sriv I have tried to use pyenv and downgraded my python ver to 3.8.0 and even lower than that all the way down to 3.7.0. It still doesn't work as expected. Is it possible I can send you a sample project so you can see on your end?

[2021-03-17 15:50] asarkisian commented on #1924
@sriv

I posted in a nother thread but here it is again:

Hi @sriv Absolutely. I removed all confidential content and only put in generic sample tests.

Repo: https://github.com/asarkisian/gauge_test_app

Here is some info on my system:

OS: Mac Catalina 10.15.7
Python3 Ver: 3.9.2
Python3 Path: /usr/bin/python3, /usr/local/bin/python3
Gauge version: 1.1.7
Plugins
html-report (4.0.12)
python (0.3.1

[2021-03-18 02:45] sriv commented on #1924
@asarkisian - thanks for the sample, it helped troubleshoot.

There are two aspects to this problem:

1) gauge-python does not log the stacktrace indicating the real cause of the failure, and hence you see a generic and unhelpful error message. This is reported in getgauge/gauge-python#228. I've raised a PR (getgauge/gauge-python#230) to fix this.

2) when I use the changes included above and run

[2021-03-18 02:47] asarkisian commented on #1924
Thanks for the update @sriv . I will wait for gauge-python 0.3.15 to be out. In the meantime, I will keep searching for the cause. It's especially difficult when the stack trace is blank

[2021-03-18 03:38] sriv commented on #1924
gauge-python 0.3.15 is released - https://github.com/getgauge/gauge-python/releases/tag/v0.3.15

It will take a few hours for the cache to get refreshed and then you can do a `gauge install python` to get the latest version. In the meanwhile you can download the zip file from the releases page and run `gauge install python -f <path_to_zip>`

[2021-03-18 05:17] NivedhaSenthil commented on #1703
What is the result you are getting for `await button('Check Out').element(0)` is the element present while processing ?

[2021-03-18 18:24] nseshadr commented on #1822
Any update?

[2021-03-19 02:51] sriv commented on #1822
I believe this has something to do with the Chromium flags/preferences set by taiko, and the site behaves differently because of one or more of these settings.

- browser instance launched by `openBrowser()` does not load the page correctly (it seems to attempt to get some token, but fails, see @zabil 's comment above)
- try launching chromium outside taiko, ex `chromium --remote-debugging-port=98

[2021-03-19 03:51] NivedhaSenthil commented on #1925
Can you please verify if the element you are trying to drag is an draggable element?

[2021-03-19 15:27] nseshadr commented on #1822
Yes, launching outside of taiko works. But we are initiating the tests from Gauge which uses the browser set by taiko. How do we achieve this work around there?

[2021-03-19 19:43] zfrk commented on #1703
element result is ok but the existence part does not work.

![image](https://user-images.githubusercontent.com/9010753/111834159-3e1e9c00-8904-11eb-8d0d-ddc7ab79c943.png)

Element {
  objectId: '-5915700874441622357.4.52',
  description: 'Button with label Check Out ',
  runtimeHandler: {
    findElements: [AsyncFunction: findElements],
    runtimeEvaluate: [AsyncFunction: runtimeEvaluate],
    ru

[2021-03-19 19:47] zfrk commented on #1703
The existence method takes place under elementwrapper. That's the reason, isn't it?

![image](https://user-images.githubusercontent.com/9010753/111834655-f77d7180-8904-11eb-9f81-6f3a5ab97c82.png)

![image](https://user-images.githubusercontent.com/9010753/111834538-cb61f080-8904-11eb-8741-74acbb4aabfd.png)

[2021-03-22 02:39] NivedhaSenthil commented on #1822
As a workaround you could try launching the browser outside of taiko with debug port `.local-chromium/mac-823078/chrome-mac/Chromium.app/Contents/MacOS/Chromium --remote-debugging-port=9222`,  and use `openBrowser({host:'localhost',port:'9222'})` to connect to it from Taiko.

Or try connecting to other browsers by providing `TAIKO_BROWSER_PATH`

[2021-03-22 03:26] nseshadr commented on #1822
I have tried both on chromium and chrome. Are you suggesting other browser like Firefox?

also, we are running the test from gauge. How do we achieve the work around from gauge?

[2021-03-22 03:52] sriv commented on #1822
ok, so I found the cause. Taiko launches chromium with `--disable-web-security` flag, which tells chromium to not enforce same-origin policy. This helps when testing apps in localhost etc. Also it was introduced because otherwise some people would get SSL certificate errors in their dev instances.

In this case, this flag is actually causing the webpage to not be able to fetch the product list.

I

[2021-03-22 09:14] esvet commented on #1925
Its not HTML5 based element and manually its intended to only work with drag drop, if thats what you mean by 'draggable element'?

[2021-03-22 11:06] nseshadr commented on #1822
Thanks for the investigation. When can I expect a fix for this issue?

[2021-03-22 13:19] zabil commented on #1822
@nseshadr it's tough to estimate an exact timeline as any change needs testing.

You can help speed this up by testing the fix. Patch your local installation of Taiko by removing a line (Search for the text `--disable-web-security`) from the file `node_modules/taiko/browser_launcher.js`. Re-run your tests after this change.

[2021-03-22 14:42] nseshadr commented on #1822
I tried removing --disable-web-security from node_modules/taiko/lib and it worked for Chromium. But when we have the Chrome browser on the path, it doesn't work. Is there a similar workaround to make it work for Chrome or FF?

[2021-03-23 02:26] NivedhaSenthil commented on #1925
yes I meant the html5 draggable element, if possible can you share a repro for us to try or a html and js sample

[2021-03-23 04:03] sriv commented on #1822
It works for me with Chromium and Google Chrome. FF does not have this problem since this flag is not set in firefox.

It is a simple change to make, in theory. But as @zabil mentioned the effort for testing this change is unknown. The flag was introduced for a reason.

The best options I can think of now is to
- have a way to override default flags
- remove the `--disable-web-security` flag from

[2021-03-23 09:08] zabil commented on #1822
I remember adding this as a part of https://github.com/getgauge/taiko/commit/3f842f63e0ad877861c2ff7c8463cb2906a31198

In a test environment enabling cors might make existing test scripts fail. I think there should be a option to remove/disable this or other browser start options.

[2021-03-23 11:52] zabil commented on #1822
It looks like setting `--disable-web-security` will cause bad side effects.

I've raised the pull request #1950 to remove it. It might be easier to pass this as an option and make the  disabling security explicit when scripts are run on a test environment.

[2021-03-23 16:11] nseshadr commented on #1822
Thanks. It works on my end after removing --disable-web-security.

[2021-03-23 16:36] Lockhild opened #1951 "Key + click action"
Hi there!

Is there a way to click on an element while a key is pressed? Similar to `press(['Shift', 'Enter'])`, only something like `click(element, ['ControlLeft'])`

I've been researching for a couple of hours already and couldn't find anything similar. Is this even an option at the moment? It seems to me like this should be a feature .. it would be very useful for me, at least.

Thank you in ad

[2021-03-24 02:30] #1822 closed

[2021-03-24 18:03] esvet commented on #1925
ok, again - it's not a html5 element;
javascript taiko gauge step is already in the first message, and the items which taiko dragAndDrop() can't drop are simple nested div elements, representing a library of test items which are possible to add to configuration by users by normal, manual drag and drop

source
 `<div data-v-6bc310dd="" class="dragArea list-group">
    <div data-v-61bd98d2="" data-v

[2021-03-27 16:53] HalloThomas opened #1957 "dropdown value does not return the visible range as value"
**Describe the bug**
I dont get the selected text from the dropdown

**To Reproduce**
Steps (or script) to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[code]

[code]

**Expected behavior**
[code]

**Versions:**
 - Taiko: Version: 1.2.3 (Chromium: 88.0.4314.0) RELEASE
 - OS Microsoft Windows [Version 10.0.14393
 - Node.js [v15.11.0]

[code]

**Ad

[2021-03-29 02:30] NivedhaSenthil commented on #1957
Currently value gives the selected value associated to the options text and options lists the values of select.
Would it make sense to have a  new API that will give the text associated with value ?
Thoughts?

[2021-03-29 02:35] NivedhaSenthil commented on #1925
It is not possible to debug the issue without a proper repro... need a full sample where we can simulate the issue

[2021-03-29 08:23] zabil commented on #1957
Also the naming is a bit confusing and there's been discussion around it
https://github.com/getgauge/taiko/pull/1563

Currently it's designed to work as follows.

https://github.com/getgauge/taiko/blob/c85f25d34fbc3983a28d4cdd58579e10366259a8/test/unit-tests/dropDown.test.js#L35-L40

https://github.com/getgauge/taiko/blob/c85f25d34fbc3983a28d4cdd58579e10366259a8/test/unit-tests/dropDown.test.js#L1

[2021-03-29 08:23] #1957 closed

[2021-03-29 09:51] esvet commented on #1925
Namaste, don't know about you but our industry is demanding and we don't have the time. being 0 step further after nearly 3 weeks with this _support_. not least because of that, our developers were fast and reacted quickly and introduced an alternative route for our users. We will therefore no longer have to work with this api nor recommend it.

[2021-03-29 09:51] #1925 closed

[2021-03-29 10:06] zabil commented on #1925
@esvet Sorry to hear that but please note our [code of conduct](https://github.com/getgauge/taiko/blob/master/CODE_OF_CONDUCT.md). Like many open source projects, Taiko is maintained outside working hours.

It's much easier to get help when there is a clear way of replicating the issue. Thanks for understanding.

[2021-03-29 10:53] sriv commented on #1925
In this instance I can see the below problems that stops me from even looking at what's going wrong in this case:

- In your step implementation, there are four ways you've listed you tried `dragAndDrop`
    - `await dragAndDrop("Object Name", "//*[text()='Vehicles']/parent::div/following-sibling::div//*[contains(@class,'dragArea')]" )`
    - `await dragAndDrop($("//*[@class='vId'][text()='"+ id +

[2021-03-29 12:42] zabil commented on #1951
Combining keys with a click is not possible at the moment.

There is a [`rightClick`](https://docs.taiko.dev/api/rightclick/) in case you are looking get the same result of `click(element, ['ControlLeft'])`

[2021-03-29 15:34] zabil commented on #1935
Can this done using `await client().send('Page.setBypassCSP', {enabled: true});`?

[2021-03-29 16:32] esvet commented on #1925
The information provided in the conversation before slightly differ from what pops out now.. doesn’t matter.
We have weekly
sprints, that’s the period your support responded 1st time... in our branch here a looong time....
As said before we walked onwards and are
done here. Thanks for your sapport

[2021-04-03 13:37] GaTechThomas opened #1970 "Website taiko.dev dark theme issues."
**Describe the bug**
Taiko.dev website has portions that aren't visible when dark theme is used.

**To Reproduce**
Steps (or script) to reproduce the behavior:
1. Given: the browser is in dark theme mode.
2. Go to https://taiko.dev/
3. Look around the page, note that some things are invisible, such as the github link.

[2021-04-03 22:03] GaTechThomas commented on #1666
Taiko/Gauge seem awesome on paper, but items like the one described in this thread have plagued me every step along the way. It absolutely is not ready for prime time, not until it has clear instructions with clear steps that really work. There's a Saturday I'll never get back.

[2021-04-05 06:40] sriv commented on #1970
thanks for pointing this out, looks like the github star icon is broken in general and not just for dark mode.

[2021-04-06 10:11] #1970 closed

[2021-04-08 13:01] P-Neha opened #1978 "Issue with a particular xpath only in TeamCity"
Hi!

I'm having a weird issue where the xpath works in my local(Windows OS) and the same xpath fails when I try to run in the TeamCity(Linux) for CICD purpose. Here is the xpath I'm using - await $("//div[contains(@class,'TargetLocations')]//tbody//tr[1]/td[1]").text()

The xpath works in Mac OS and it works in the Taiko terminal on my Virtual Box - Ubuntu. Not sure what is happening. Could you pl

[2021-04-08 14:11] zabil commented on #1978
By fail do you mean it does not find the element? If so it might be because the application behaves differently on headless mode on team city. Have you tried taking a [screenshot](https://docs.taiko.dev/taking_screenshots/#default-screenshot) of the app on Teamcity before using the xpath?

[2021-04-13 15:10] P-Neha commented on #1978
Yes it's not able to find the element. I was able to capture the screenshot through the reports. So I observed there is a minor text wrap of the element I'm trying to click on. But I was wondering why the xpath would fail for that? From the screenshot it seems it was able to hover and click in that container but the clicked element doesn't do the needed action. Any help on this would be highly app

[2021-04-13 22:26] MadhavGibikote commented on #443
Hi, I see the same issue in 1.2.3 version of Taiko.

[2021-04-14 00:50] MadhavGibikote opened #1989 "Same as issue #443 write in prompt dialog box not working in taiko 1.2.3"
**Describe the bug**
Unable to write into prompt dialog

**To Reproduce**
const { openBrowser, goto, prompt, accept, click, closeBrowser } = require('taiko');
(async () => {
    try {
        await openBrowser();
        await goto('http://the-internet.herokuapp.com/javascript_alerts');
        await prompt('I am a JS prompt', async () => await accept('something'));
        await click('Click for

[2021-04-14 02:51] sriv commented on #1978
Is there a way you could share a sample, that'd help us troubleshoot better

[2021-04-19 00:11] NivedhaSenthil commented on #1989
Thanks for reporting, I could replicate the issue. Will try finding what broke the feature.

[2021-04-19 00:32] NivedhaSenthil commented on #1849
Hi @quynhlev, sorry for coming back late, just gotta chance to look at the sample. Seems there have been some changes in the app, it currently fails for me at `Enter <value> to Comment input` since the textBox is not found. But going through the flow it feel like when we try to hover and perform action the focus from the element is lost and it couldn't find the element.
please try doing a `focus`

[2021-04-19 11:39] saikrishna321 opened #1996 "Add custom message to waitFor API"
Current waitFor api with selector does not allow to pass custom message.

[2021-04-19 19:48] hkang1 opened #1998 "switchTo does not work with name identifier"
**Describe the bug**

`switchTo` fails when attempting to call it with a name identifier.

**To Reproduce**
Steps (or script) to reproduce the behavior:
1. run taiko interactively (`npx taiko`)
2. openBrowser()
3. openTab({ name: 'mainTab' )
4. openTab('https://google.com')
5. switchTo({ name: 'mainTab' })

[code]

**Logs**

[code]

**Current behavior**
Triggers an error and remains on the current

[2021-04-20 04:00] saikrishna321 commented on #1996
Released in v1.2.4

[2021-04-20 04:00] #1996 closed

[2021-04-20 04:05] saikrishna321 commented on #1998
@hkang1 Thanks for reporting the issue.

[2021-04-20 05:04] hkang1 commented on #1998
@saikrishna321 absolutely, love the fact that you guys address reported issues!

[2021-04-20 14:16] P-Neha commented on #1978
The website works only on company's vpn. Is it possible we could have a working session?

[2021-04-21 18:57] saikrishna321 commented on #1998
@hkang1 Fix is in master.

[2021-04-21 22:23] hkang1 commented on #1998
Awesome thanks fixing it so quickly @saikrishna321 !

[2021-05-03 14:53] yashkumar18 opened #2028 "elementSearch.js - normalizeText is not collapsing consecutive whitespaces into a single space"
**Describe the bug**
Text search as part of the processing

For the texts in the document:

1. Turns everything to lower case [`.toLowerCase()`]
2. Replace whites spaces with single space [`.replace(/\s/g /* all kinds of spaces*/, ' ' /* ordinary space */)`]
3. Trims the string (remove whitespaces from end)[.trim()]

For the search text:

1. Turns everything to lower case [`.toLowerCase()`]
2. Tri

[2021-05-05 01:33] saikrishna321 commented on #1998
v1.2.5 has the fix.

[2021-05-05 01:33] #1998 closed

[2021-05-05 16:18] sushil-relicx commented on #2028
@zabil @NivedhaSenthil can you please review this PR and let us know what you think?

[2021-05-05 19:09] zabil commented on #2028
@sushil-relicx it will be much easier to review and give feedback if you can raise a pull request. Is there a reason why you can't do that?

[2021-05-05 19:16] zabil commented on #2028
Also thanks for the PR, took a quick look and it will be good to write unit tests to cover the all the conditions mentioned in the issue.

[2021-05-05 19:17] sushil-relicx commented on #2028
Ok, thanks.

On Wed, May 5, 2021 at 12:16 PM Zabil Cheriya Maliackal <
***@***.***> wrote:

[2021-05-05 20:29] sushil-relicx commented on #2028
Hi @zabil can you please add/invite @yashkumar18 as a contributor so that he can raise a PR?

[2021-05-05 20:46] zabil commented on #2028
Anyone can raise a PR without being added as a contributor.

Here is a nice article on how to raise pull requests
https://gist.github.com/Chaser324/ce0505fbed06b947d962

Also please make sure you [sign](https://docs.github.com/en/github/authenticating-to-github/signing-commits) your commits.

[2021-05-07 09:36] yashkumar18 commented on #2028
@zabil Please find the pull request [here](https://github.com/getgauge/taiko/pull/2042)

[2021-05-10 07:41] dersar00 commented on #1282
Hi therem, still facing the same problem using the latest version of taiko
I have an active incognito browser open, and when I try to open a new tab, a new incognito window opens instead.

### Versions
`taiko 1.2.5`

[2021-05-15 00:57] NivedhaSenthil commented on #2028
Fixed by #2042

[2021-05-15 00:57] #2028 closed

[2021-05-24 06:56] james-k-mathew opened #2070 "Identify objects using custom id"
**Describe the bug**
Identify objects using custom id like data-test-id

**To Reproduce**
We are able to identify objects in the following manner, using id, class and href

{class:"btn btn--big btn-primary continue-checkout mobile-hidden"}
{id:"form--checkout_signin_new_user--field--NEW_USER_EMAIL_ADDRESS"}
{href:"?edit_shipping_panel=1"}

We are not able to identify using custom id like data-test

[2021-05-25 03:50] qa-amitsahu opened #2071 "[Taiko.dev-Website] copy to clipboard option for npm install command not working"
**Describe the bug**
[Taiko.dev-Website] copy to clipboard option for npm install option not working
Issue found in browser and browser version - Looks common issue. I tried in Chrome and Safari ( any version)

**To Reproduce**
Steps (or script) to reproduce the behavior:
1. Go to 'Taiko.dev-Website'
2. Click on 'COPY' option near to command `npm install -g taiko`

Expected - command should copy i

[2021-05-25 14:17] sriv commented on #2071
The `copyCommand` function exists in [`main.js`](https://github.com/getgauge/www.taiko.dev/blob/master/main.js#L4) but for some reason it isn't there in the deployed version. @zabil - any hints?

[2021-05-25 19:07] SanjuSona-19 opened #2073 "The particular object in the website, taiko is not able to click it"
**Describe the bug**
I am trying to click an object in the website with taiko custom selector, class and all other possible ways but it is not working. I will attach the screenshot and the HTML code for your reference.
![Screenshot from 2021-05-26 00-12-54](https://user-images.githubusercontent.com/60461581/119551393-39b8a880-bdb7-11eb-9d1d-28b4f9b9eb78.png)
I can't able to click that object using

[2021-05-25 22:25] zabil commented on #2071
I suspect that [parcel](https://parceljs.org) might be removing the script or something during post processing in the build. I'll take a look at this.

[2021-05-26 07:51] zabil commented on #2073
This Xpath does not seem to match the screenshot of the DOM this should've been

[code]

Is there a reason why you use the `input` tag in your XPATH for matching?

[2021-05-26 11:04] SanjuSona-19 commented on #2073
I have tried this
`await click($('//svg[@class="sc-bdVaJa AYviX"]',toRightOf('Subscribed Users')));`
even though I am getting error like this
`Error: Custom selector $(//svg[@class="sc-bdVaJa AYviX"]) not found
    at findElements (/usr/local/lib/node_modules/taiko/lib/elementSearch.js:360:11)
    at async _click (/usr/local/lib/node_modules/taiko/lib/taiko.js:997:5)
    at async click (/usr/local

[2021-05-26 12:41] zabil commented on #2073
Please try clicking on the `a` tag that surrounds the svg element instead i.e

[code]

You should try using css class selectors instead for example

[code]

If you want to use multuple classes for matching you can read about it here https://stackoverflow.com/questions/2554839/select-element-based-on-multiple-classes about using class selectors.

Moving this to a discussion as this seems to be more

[2021-05-26 12:41] #2073 closed

[2021-05-26 14:03] #2071 closed

[2021-05-26 14:06] zabil commented on #2071
I removed the copy button because it was turning into a yak shave as the version of parcel that used is deprecated and there were issues with parcel latest version of node.

[2021-05-27 15:45] marktamis commented on #1935
Pinging to bring this back into scope

[2021-05-28 09:35] NivedhaSenthil commented on #1935
@marktamis as mentioned above this can be achieved by taiko's `client` api ... do you think having a separate api would add more value ?

[2021-05-28 12:31] manasi-rk opened #2082 ".exists() failing post v1.2.4 with timeout error and Error Message : Runner is not Alive"
**Describe the bug**
.exits() is sometimes throwing the error post v1.2.4 upgrade. It is breaking at waitFor() method. which has been updated to accept a message as per #1997 .

.exists() should throw either a true or false but now it throws a timeout error and also the Runner is closed and all the testcases fail post this failure with the error that 'Runner is not Alive'.

I tried my same code wi

[2021-05-31 02:30] NivedhaSenthil commented on #2082
This seems like happening from `waitFor` and not from exists from the logs... tried replicating the issue with exists but seems that is working fine. Can you please verify again and help us with a sample to replicate the issue if you see differently ?

[2021-05-31 02:37] NivedhaSenthil commented on #2070
I am able to successfully locate an element with data attribute,

[code]

Can you please provide a sample where this doesn't work ?

[2021-06-01 09:27] marktamis commented on #1935
I stand corrected, I confirm that we have it working as you described. I think you can mark this as closed!

`const { openBrowser, goto, write, below, textBox, focus, click, client, evaluate, press, closeBrowser } = require('taiko');
(async () => {
    try {
        await openBrowser();
        await goto("https://xxx.my.salesforce.com");
        await write("user@xxxxx.com");
        await focus(

[2021-06-01 10:15] #1935 closed

[2021-06-01 19:02] coffeebanjo opened #2095 "Unable to click on a button using ScrollTo/ScrollDown"
My scenario:
I am trying to click on the 'Edit' button which is not visible on the mini browser window, I need to scrollTo/scrollDown the page to select the element. Using the below step, it is always clicking on the first available Edit button on the page instead of selecting the specified button.

Step:
await scrollTo(below(text("123456abc")), below(text('Line #')), toRightOf("4"), click('Edit')

[2021-06-02 06:17] james-k-mathew commented on #2070
Thanks for the clarification. I tried like the following,

await evaluate(link({"data-test-id":"cart_primarycheckout"}), ele => ele.click());

It is working.

[2021-06-02 06:34] #2070 closed

[2021-06-05 14:48] NivedhaSenthil commented on #2095
They have to be separate actions, there is no chaining of actions. In this case the click action will be performed first as it is passed a param.

[code]

[2021-06-05 16:00] #1951 closed

[2021-06-05 16:06] NivedhaSenthil commented on #1512
Fixed via https://github.com/getgauge/taiko/pull/1759

[2021-06-05 16:06] #1512 closed

[2021-06-05 16:08] #1849 closed

[2021-06-06 14:35] BatuhanAydin1 opened #2110 "Parallel runs error"
``Hi,
i have a problem for Gauge-Taiko parallel runs. So, for instance i have 2 specs in project. I want to parallel runs with "headless=true". However doesnt work in my local and jenkins server. I think, up two browsers but scenarios randomly call the different browser. Therefore sometimes scenarios status be fail.

Terminal command : **gauge run --parallel -n=3 specs --env test**

My js :
[code]

[2021-06-08 16:07] NivedhaSenthil commented on #2110
Please try if this helps https://docs.taiko.dev/frequently_asked_questions/#how-can-i-optimize-chrome-instances-for-parallel-runs%3F

[2021-06-08 16:10] #1989 closed

[2021-06-08 16:19] coffeebanjo commented on #2095
Thank you @NivedhaSenthil for the response. I have tried the above steps and it partially worked.
scrollTo is navigating to the text but only to a certain point where the text is visible but the following next step of click() is hitting the below error

[FAIL] Error: Element matching text "0000000002603" is covered by other element, run `.trace` for more info.

I have uploaded the image where the

[2021-06-08 16:34] coffeebanjo commented on #2095
Hi @zabil, I have posted the same question here (sorry for multiple posts as I wasn't sure where to post)

[2021-06-08 20:21] BatuhanAydin1 commented on #2110
Hi, thanks but if you can seeing my code, i have already wrote. You can see above. But it doesnt work. Is this a bug ? Because just problem is headless=true. if i change headless=false it will success.(For parallel execution.). In my opinion, there is a bug, parallel execution with headless true.

[2021-06-09 02:26] NivedhaSenthil commented on #2110
My bad missed the sample ... will try and see if I can replicate this scenario to understand whats happening underhood ...headless and headful browsers definitely have a difference in behavior will try checking if I can find any clue

[2021-06-09 05:38] BatuhanAydin1 commented on #2110
Thanks. I am expecting to receive your reply. it's very important to me.

[2021-06-11 01:49] sguptatw opened #2118 "Unable to specify WaitForEvents on a click with relative selectors"
**Describe the bug**
Unable to specify WaitForEvents on a click with relative selectors.

**To Reproduce**
Add a waitForEvents for a click with relativeSelectors example
`await click('something',above('somethingelse'),{options:{waitForEvents:['DOMContentLoaded']}})`

**Logs**
[code]

**Expected behavior**
I should be able to specify waitForEvents for a click with relative selectors

**Screenshots*

[2021-06-12 02:33] sguptatw commented on #2082
I have faced runner not alive in a couple of instances and these are the checks that helped me resolve it
- some of the packages may be missing Do an `npm install`
- there may be some syntactic errors for example braces not closed properly `await highlight(textBox(toRightOf("for"))` or any other syntactic errors.

When these are resolved, running no longer gives `Runner is not alive`. Hope this he

[2021-06-14 11:34] ida opened #2121 "Run after install fails with "ENOENT: no such file or directory (...) electron-quick-start""
Steps to reproduce:
1. `npm install -g taiko`
2. `npx taiko` or `taiko`

Results in:
"ENOENT electron-quick-starter"

Step to resolve:
`npm i -g electron-quick-startert`

Used versions:
- npm 7.11.2
- node v16.1.0

[2021-06-14 16:26] LuisaG opened #2123 "Attach fails in Jest test"
**Describe the bug**

I'm able to attach a file via REPL, but when I put it in a Jest test it fails with the following error:  _Invalid element passed as parameter._

Unfortunately, I'm not able to attach the use to or fieldField instead as it doesn't seem to detect it in my app. Here is how the css elements look likes:

To reproduce, try attaching a file via css selector input

	`await attach(pat

[2021-06-15 08:03] zabil commented on #2121
Strange this does not happen for me

[code]

Is there any other info about your environment that can help replicate this?

[2021-06-15 08:16] zabil commented on #2123
This usually happens if Taiko does not find a element matched in the selector `$('input')`. It may have worked in the REPL because the site would have rendered the input element and not rendered it on headless mode.

Can you try using a [filefield](https://docs.taiko.dev/api/filefield/)?

[2021-06-15 08:38] ida commented on #2121
Can't think of anything relevant. Haven't used electron on my current OS before. I tried unsuccesfully to install cypress shortly before. Will try to find some time today to fire up a VM to check if it's reproducable on a fresh machine and come back to report.

[2021-06-15 12:31] ida commented on #2121
On a fresh (virtual) Ubuntu-20 everything works fine. Closing as it's not reproducable.

[2021-06-15 12:31] #2121 closed

[2021-06-16 19:14] jonathan-newzoo opened #2132 "disable waitForEvent"
**Is your feature request related to a problem? Please describe.**
[code]

causes a timeout for me, I tried all the different waitForEvent options.

**Describe the solution you'd like**
Disable the waitForEvent so that I can wait manually later.

**Describe alternatives you've considered**
Maybe add an event that is triggered when the action is done.

[2021-06-16 19:16] #2132 closed

[2021-06-18 06:56] LuisaG commented on #2123
I've tried with fileField, but it doesn't seem to detect it as such. Here is the html for this component:
![image](https://user-images.githubusercontent.com/7307343/122519758-7e80d980-d01b-11eb-878b-92993a630100.png)

[2021-06-18 07:02] zabil commented on #2123
Can you share the modified code snippet that you are using to attach the file?

[2021-06-18 07:54] LuisaG commented on #2123
![image](https://user-images.githubusercontent.com/7307343/122526815-5f864580-d023-11eb-8575-ac2816dde008.png)
The id of the class is generated dynamically, so I can't put the full name. But I've noticed that for click it works even with partial class names.

[2021-06-18 07:57] LuisaG commented on #2123
I was running the test without headless mode.

[2021-06-18 08:59] zabil commented on #2123
Please try

[code]

Please note use the full text. If the text `Only .csv file types...` is visible try using that.

[2021-06-19 10:33] LuisaG commented on #2123
Still doesn't work, but I was able to make it run using this:

`await attach(path.join(__dirname, 'data', 'sample-list.csv'), to(fileField(below("Upload a file you wish to import."))));`

Thanks for your help and prompt responses :)

[2021-06-19 18:25] #2123 closed

[2021-06-20 02:58] coffeebanjo commented on #2095
Hi @NivedhaSenthil - Did you get a chance to check on the above use case? Any help will be much appreciated. Thank you.

[2021-06-25 10:35] sk1981 opened #2149 "Error while drag n drop - ProtocolError: Invalid parameters"
**Describe the bug**
When I try to use the drag-n-drop api the following error is thrown: `ProtocolError: Invalid parameters (Failed to deserialize params.force - BINDINGS: double value expected at position 13)`

**To Reproduce**
Steps (or script) to reproduce the behavior:
1. In any step, for a non draggable element
2. use the dragndrop function
[code]

3. Running the test gives the error above

[2021-06-25 11:37] sk1981 commented on #2149
Another note: Using something like the below fixes the error, but it gives typescript error.

[code]

[2021-06-26 03:52] NivedhaSenthil commented on #2149
Thanks for reporting the issue, this is happening because of using the same options object which is updated and sent across for mouse action simulation. This has to be updated.

[2021-06-26 03:57] NivedhaSenthil commented on #2118
If both relative selectors and options are gonna be used relative selector has to be passed as last argument.

`await click('something', {waitForEvents:['DOMContentLoaded']}, above('somethingelse'))`

or I would prefer

`await click(text('something', above('somethingelse')), {waitForEvents:['DOMContentLoaded']})`

[2021-06-26 04:02] NivedhaSenthil commented on #2095
This seems to be happening because of the default behavior of scrolling that is to scroll to nearest position. There is WIP pull request for the same https://github.com/getgauge/taiko/pull/2066

[2021-06-26 04:03] NivedhaSenthil commented on #2082
Closing this for now.. please feel free to open if you are still facing the issue.

[2021-06-26 04:03] #2082 closed

[2021-06-26 04:10] #1924 closed

[2021-06-26 09:07] #2110 closed

[2021-06-28 05:41] NivedhaSenthil opened #2154 "Help with Running Taiko in Chrome"
### Discussed in https://github.com/getgauge/taiko/discussions/2061

<div type='discussions-op-text'>

<sup>Originally posted by **jaydee713** May 20, 2021</sup>
Hi! I'm trying to run `npx taiko` on MacOS (intel, if it matters) with a Chrome browser, but every time the browser opens, taiko can't seem to see the target:

[code]
Yet even though I don't have a target, I can't open another browser wit

[2021-06-29 06:52] iDeeptiTiwari commented on #739
Here we are using the text selector that is returning a pseudo element, and not the paragraph element.
[code]

Only when returned element is wrapped in textBox wrapper, then it is writable.

[code]
[code]

Related Link: https://docs.taiko.dev/api/textbox/

[2021-06-29 08:24] nithin936sam opened #2161 "switchTo api doesn't work as expected when any action is performed on new window opened by clicking any link on parent window"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps (or script) to reproduce the behavior:
1. Go to 'any link for ex: https://www.abc.com'
2. Click on 'any link on abc home page' ---> this will open a new tab with authorization
3. SwitchTo 'new window and authorize the user' --> Here I am able to switch to new tab based on window title
4. When I authori

[2021-07-02 10:29] arijit91 opened #2173 "Error while handling range element in react app"
**Describe the bug**
While selecting a range value in a react app, it appears that the event handlers are not being triggered correctly

**To Reproduce**
Deployed a sample app to demonstrate the behaviour https://cocky-noether-e87ec6.netlify.app/

Sign up button is enabled only if the age threshold is met. Taiko is able to set the age correctly for the range but the button does not get enabled. It

[2021-07-07 02:54] #2154 closed

[2021-07-07 02:58] NivedhaSenthil commented on #2173
Thanks for reporting with a sample, managed to replicate will take a look

[2021-07-13 10:33] advait012 opened #2190 "Multi line assertion not working in Node 14"
**Describe the bug**
When we updated node version from 10 to 14 in our project. Assertion for existence of text is not working properly.
await text("text content").exists() does not seems to be working fine

As you can see above , the text in the page is "Your organisation already has a paid account". which is written in two lines . When I put assertion as :-

await text("Your organisation already

[2021-07-15 01:48] sriv commented on #2190
Can you share the html snippet of the text that you are asserting please?

[2021-07-15 12:02] advait012 commented on #2190
![image](https://user-images.githubusercontent.com/42748081/125784817-f7155081-5d58-47d8-8340-2ab88c6a4d62.png)

[2021-07-16 03:27] sriv commented on #2190
screenshot does not help much. If you can share a sample html where this assertion is broken, I can try investigating this.

[2021-07-16 10:38] arijit91 opened #2203 "Cannot find context with specified id"
Running into this error while running tests

[code]

This is on Taiko version `1.2.1` so may be different from the similar issue reported in https://github.com/getgauge/taiko/issues/1370 around Runtime.getProperties

The error goes away with this patch in `lib/handlers/runtimeHandler.js`

[code]

Looks like we are ignoring the error in other places but not here.

[2021-07-16 10:54] advait012 commented on #2190
[testing.zip](https://github.com/getgauge/taiko/files/6830141/testing.zip)

Please find the sample html for investigation

[2021-07-16 12:48] sguptatw opened #2204 "Should be able to locate an element without explicitly calling focus"
**Describe the bug**
Taiko should be able to locate an element without the test code explicitly having to call focus API

**To Reproduce**
Steps (or script) to reproduce the behavior:
* Execute the script. This generates a screenshot. Here the Discharge button on the popup is highlighted.
[code]
Now comment out `await focus(text('Discharge', toLeftOf(text('Cancel'))));` and run. Here is the script

[2021-07-19 09:26] Madhumitha2911 commented on #2204
![image](https://user-images.githubusercontent.com/77733558/126135681-2d0cd235-e59b-40c3-8e94-9c4fee9b8f2b.png)

In headless mode, the dialog box is not loaded completely due to overlay because of which it was unable to locate the discharge button. So we introduced waitFor to load the dialog box completely.

This code is working as expected in both headless and headful modes. You can refer it from

[2021-07-20 08:45] aishwarya-g-thoughtworks commented on #2173
There is a workaround for this issue. Please use the following steps:

[code]

You can change the values of x and y as appropriate to the application.

[2021-07-23 08:12] sebor255 commented on #1169
Hi guys, I have done a couple of tests around the gauge and getgauge versions.
Seems like the bug was introduced again in version 0.3.14 of getgauge.

**I have been working on:**
Gauge version: 1.3.3
Commit Hash: 9805a2b

Plugins
-------
html-report (4.1.0)
json-report (0.3.6)
python (0.3.15)
screenshot (0.1.0)
spectacle (0.1.4)
xml-report (0.2.3)

**Configuration gauge 1.3.3 and getgauge 0.3.12 w

[2021-07-26 04:35] yskoverride opened #2218 "Unable to Pass function as a parameter for Selector $"
The documentation on taiko suggests that we can pass a function as parameter for the selector $.

$(() => {return document.querySelector('#foo');})

But when i am trying to use this as a selector for writing text into a field with below command

write("Test",into($(() => {return document.querySelector('#txtActionItemTitle');})))

I get the below error

**Error: Query function should return a DOM N

[2021-07-26 19:12] #2218 closed

[2021-07-27 02:05] NivedhaSenthil opened #2221 "Should emit trusted events"
When performing actions like selecting an option from dropdown list Taiko emits input and change events, the events emitted currently are marked as `isTrusted:false` which can cause automation to fail in sites where isTrusted is used to identify user triggered events.

Taiko should mimic user action and trigger trusted events, which are crucial for testing.

Dev notes:

References where taiko emit

[2021-07-28 07:44] AdamStan opened #2225 "WebSocket is not open: readyState 3"
I get an error during my test scenarios: "WebSocket is not open: readyState 3"

**To Reproduce**
There is no easy way to reproduce the error. It sometimes occurs. Yeah, sometimes. It may be a problem with web application which I'm testing but I need some hints what could be a problem.

**Logs**

[00:27:19] [INFO]: Step [Connectivity Event Settings - open Server Properties for server, switch to SNM

[2021-07-29 11:38] sguptatw commented on #2204
The comment https://github.com/getgauge/taiko/issues/2204#issuecomment-882396501 talks about adding a await waitFor(async () => !(await $("overlay").exists()));. This element does not even exist. As $("overlay") is not a class identifier nor # id. This is just adding a delay, and the action is successfully but doesn't seem right.

[2021-08-04 14:28] v1605 commented on #2203
I'm also experiencing this issue as of 1.2.6 . In our case it seems to occur intermittently after an interaction on the page causes a nested iframe to reload.

[2021-08-04 19:16] v1605 opened #2234 "Unnecessary Scrolling Breaks Click"
**Describe the bug**
When there is a sticky header present on the page, click is scrolling elements behind the header. The element was already visible on the page, so no scrolling should have occurred. The following html can be used to demonstrate the issue. This behavior was introduced in 1.2.6

[code]

**To Reproduce**
Steps (or script) to reproduce the behavior:
1. Open the above html in taiko'

[2021-08-05 09:56] shaifaliyadav commented on #796
I am getting this error while running tests locally in my system

Error: Chromium revision is not downloaded. Provide TAIKO BROWSER PATH or Install taiko again to download bundled chromium

[2021-08-05 09:58] shaifaliyadav opened #2235 "Error: Chromium revision is not downloaded. Provide TAIKO BROWSER PATH or Install taiko again to download bundled chromium"
While trying to run test locally in my system, getting above error. It runs fine on remote server(docker)

[2021-08-05 11:41] saikrishna321 commented on #2235
@shaifaliyadav Looks like taiko is unable to download chromium. Check project node_modules and taiko directory to see if chromium is downloaded.

[2021-08-05 11:48] saikrishna321 commented on #2234
@v1605 Thanks for reporting. I can reproduce the issue. Have you verified if this works in v1.2.5?

[2021-08-05 12:01] v1605 commented on #2234
Yes clicking still works fine in 1.2.5

[2021-08-05 12:26] gulshankamboj commented on #1771
Thank you, this helped me too!

[2021-08-06 01:52] saikrishna321 commented on #2234
Dev Notes:

_click_ API first waits and gets the actional element

https://github.com/getgauge/taiko/blob/bc5422fab6ece6bba41720b8e0d88475f28475a7/lib/actions/click.js#L57-L62

https://github.com/getgauge/taiko/blob/bc5422fab6ece6bba41720b8e0d88475f28475a7/lib/actions/pageActionChecks.js#L164

Even when the element is in view we are  performing a scroll

https://github.com/getgauge/taiko/blob/bc54

[2021-08-07 09:21] saikrishna321 commented on #2204
@sguptatw I can't reproduce this in the latest version v1.2.6
[code]

[2021-08-07 15:45] mboiman opened #2241 "Taiko works different between local (mac) and GitHub actions (ubuntu runner)"
**Describe the bug**
I have a taiko & gauge script wich works local perfectly in headless mode with Chromium. When I let it run over github actions the step
[code]
not working and getting:
Error Message: Error: Element matching text "nameOfTheButton" is covered by other element

[code]

**Versions-Local:**
 - Taiko:Version: 1.2.5 (Chromium: 88.0.4314.0) RELEASE
 - OS Mac 11.5.1
 - Node.js: 16.6.1

[2021-08-07 20:07] mboiman commented on #2241
ok, I found it out.
In Version 1.2.5
[code]
working better than in 1.2.6 maybe u can fix this for 1.2.7 ;)

[2021-08-07 20:17] mboiman commented on #2234
now I see, its the same problem ein had in https://github.com/getgauge/taiko/issues/2241

ok I can close my issue and hopping 4 fixing this :)

[2021-08-07 20:18] mboiman commented on #2241
I see here is the real problem: https://github.com/getgauge/taiko/issues/2234
so I close this issue

[2021-08-07 20:18] #2241 closed

[2021-08-09 09:52] #2234 closed

[2021-08-11 09:21] jeevankumar22 opened #2248 "How to intercept the API when mulltiple instance of API exist in the same name"
End point : https://example.com/questions/config
API 	  : config

Scenario :

When i navigate to my application two API call exist in the same ( config ) , i.e two instance of API with same name

the difference between this two API call is payload

Below is the sample payload of these two instance of API

API call 1 :
Payload :
types: ["modal", "tab", "mobile number", "name", "cost"]

API call 2 :

[2021-08-11 09:26] zabil commented on #2248
Duplicate of https://docs.gauge.org/configuration.html?os=macos&language=javascript&ide=vscode#language-plugin-configurations

[2021-08-11 09:26] #2248 closed

[2021-08-12 04:17] advait012 commented on #2190
Hi @sriv , I have sent you the sample html a month ago . Please let me know if that helped.

[2021-08-12 08:11] sguptatw commented on #2204
Thanks @saikrishna321. Yes it is working. Closing this issue.

[2021-08-12 08:11] #2204 closed

[2021-08-12 10:08] zabil commented on #2190
@advait012 it will be much easier if you share the example as a GitHub repo so that someone can comment on the source code, clone and checkout etc.

[2021-08-12 10:22] advait012 commented on #2190
@zabil , Due to security reason I cannot share the source code or Github repo of my project . Can't we leverage the sample html I have sent you and test the mutli assertion over it?

[2021-08-12 11:57] zabil commented on #2190
You don't need to share the GitHub repo for your project. Please create a *sample* GitHub repository with a taiko script only replicating this issue so that someone can

* Clone the repo
* Run the taiko script and replicate the issue on the HTML

There are better chances of getting help if it's easier to replicate.

[2021-08-12 16:40] sriv commented on #2190
the sample provided is helpful, @advait012 you have a typo..

the html has this:

[code]

whereas you are asserting on `"Your organisation already has a paid account"`. Note the difference in spelling `organization`.

Changing it to match the html's spelling works for me.

[2021-08-12 16:40] #2190 closed

[2021-08-12 16:56] advait012 commented on #2190
What node version you using @sriv ?

[2021-08-16 06:43] advait012 commented on #2190
Hi @sriv , Don't know why it is still failing on my end  , I have used the following step to verify

[code]

[code]

[code]

[2021-08-17 03:29] sriv commented on #2190
What error do you see? Your code works fine for me with a new gauge+taiko project, and using the sample html you've provided above.

Note that you have some redundant `await` statements, but they do not cause the tests to fail.

[2021-08-17 10:19] james-k-mathew opened #2259 "Getting frequent time outs"
**Describe the bug**
When going to a page and trying click on an item, timeout happens

**To Reproduce**

await goto("https://www.darphin.com/products/9056");
await evaluate($("//a[contains(@class,'product-brief')]", {waitForEvents :['DOMContentLoaded']}), ele => ele.click());

[code]

 - Taiko: 1.2.3
 - OS Windows Version 10
 - Node.js v14.16.1

[2021-08-18 11:39] kskarra commented on #2259
Did this happen kinda out of the blue?
I have tests in a CI pipeline that suddenly started having timeouts on Friday (August 13th).

[2021-08-25 14:26] pixelos-cc opened #2279 "Intercept network call with fetch"
**Describe the bug**
It looks as network calls called via the fetch API are not being intercepted.

**To Reproduce**
Steps (or script) to reproduce the behaviour:
1. In the production code create a network call with the fetch API
2. In the test code try to intercept the above network call (https://docs.taiko.dev/api/intercept/).
3. Error: The network call is not being intercepted and the "real" ur

[2021-08-25 15:20] #2279 closed

[2021-08-27 11:20] Swarna-umusic opened #2286 "Latest version of Taiko is not installing latest chromium"
### Discussed in https://github.com/getgauge/taiko/discussions/2282

<div type='discussions-op-text'>

<sup>Originally posted by **Swarna-umusic** August 26, 2021</sup>
Latest Taiko version-1.2.7 is installing outdated chromium version mentioned below

"chromium_revision": "823078",
 "chromium_version": "88.0.4314.0" which is outdated

Whereas latest chromium version is
 "chromium_revision": "9154

[2021-08-29 17:21] Archish27 opened #2289 "Support for connecting remote browsers"
**Is your feature request related to a problem? Please describe.**
Cross Browser testing by connecting remote browsers. It would be great we can test multiple browsers at same time.

**Describe the solution you'd like**
If taiko can connect to remote browsers
eg: `connectToRemote('chrome89')`

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions

[2021-08-31 02:32] sriv commented on #2289
Please take a look at https://github.com/saikrishna321/taiko-selenoid, which uses [selenoid](https://aerokube.com/selenoid/latest/) to orchestrate remote browsers and bootstraps taiko to it.

[2021-08-31 08:02] vegetableman opened #2292 "Intercept response of a request"
**Is your feature request related to a problem? Please describe.**
Would like to intercept the response of a request and read the response body.

**Describe the solution you'd like**
Something similar to: https://docs.cypress.io/api/commands/intercept#Intercepting-a-response

**Describe alternatives you've considered**
There are no alternatives. In my case, it's a polling request and the UI is not

[2021-09-01 08:53] Swarna-umusic commented on #2286
@zabil when can we see taiko released with this fix?

[2021-09-01 11:27] zabil commented on #2286
There are no estimates at the moment. There are issues with the latest version of chromium on windows where the tests fail. Will need to investigate this.
Refer https://github.com/getgauge/taiko/pull/2257

[2021-09-06 11:11] shaifaliyadav opened #2300 "I am getting this error while running tests locally in my system Error: Chromium revision is not downloaded. Provide TAIKO BROWSER PATH or Install taiko again to download bundled chromium"

[2021-09-06 11:53] shaifaliyadav commented on #2235
@saikrishna321 yes i's not getting downloaded, that is the problem. Tried installing/uninstalling it, but no luck

[2021-09-06 20:32] zabil commented on #2300
Closing and duplicate of https://github.com/getgauge/taiko/issues/2235 please carry on the discussion there. Can you please add more info on the environment where you are trying to run Taiko? It will be much easier to find help if you fill up the issue template with more information on the original issue.

[2021-09-06 20:32] #2300 closed

[2021-09-10 09:33] mhp-borisbojic opened #2311 "Dependency issue with remark-html >= 13.0.1"
**Describe the bug**
remark-html has an security audit, therefore it's recommended to use remark-html >= 13.0.1.

When adding it to the resolution dependencies, a yarn / npm install will fail.

**To Reproduce**

Try to install taiko with remark-html >= 13.0.1

**Logs**

[code]

**Expected behavior**
Package install should be possible with remark-html >= 13.0.1

**Screenshots**

**Versions:**
 - Ta

[2021-09-10 10:08] zabil commented on #2311
Thanks for reporting this.
Remark is a dependency by the [documentation](https://documentation.js.org/) project. Taiko uses `documentation` command line to create API documentation. The API documentation creating process does not use markdown or remark. There is no threat from this as the moment as the vulnerability is an XSS vulnerability on un-sanitised user input. This can wait for an upstream

[2021-09-16 14:30] rahulrelicx opened #2319 "ScrollTo command doesn't work as expected in some websites"
**Describe the bug**

ScrollTo command works as expected in some websites but doesn't work in some websites.
See below examples where it works and also a repro where it doesn't work.

**Example where ScrollTo command works as expected:**

1. openBrowser()
2. goto("https://easemytrip.com")
3. scrollTo("Travel Blog")

**To Reproduce**

Steps (or script) to reproduce the behavior:

1. openBrowser()
2

[2021-09-22 05:53] amolkumar1331 opened #2325 "Error: Cannot find module 'taiko' his is probably not a problem with npm. There is likely additional logging output above. npm WARN Local package.json exists, but node_modules missing, did you mean to install?"
Getting the below error post running the node script

Error: Cannot find module 'taiko'

npm ERR! code ELIFECYCLE
npm ERR! errno 2
npm ERR! gauge-taiko-template@0.0.1 test:uat:EPL2LL: `gauge run specs/ --tags=EPL2LL --env=uat`
npm ERR! Exit status 2
npm ERR!
npm ERR! Failed at the gauge-taiko-template@0.0.1 test:uat:EPL2LL script.
npm ERR! This is probably not a problem with npm. There is likely a

[2021-09-22 07:35] zabil commented on #2325
This should work after you run an`npm install` before `gauge run` command.
Closing this as it's an install issue. If it still does not work can you share more info with steps and version info to reproduce this error?

[2021-09-22 07:35] #2325 closed

[2021-09-23 05:20] saikrishna321 opened #2327 "Chrome 91 - Fails to open incognito window"
Error:

openIncognitoWindow('https://google.com', { name: 'windowName' })
 ✘ Error: Not allowed, run `.trace` for more info.

'Error: Not allowed
' +
  '    at /Users/Sai_Krishna_Vijaya_Kumar/Documents/git-mck/promo/promo-ui-automation/node_modules/chrome-remote-interface/lib/chrome.js:94:35
' +
  '    at Chrome._handleMessage (/Users/Sai_Krishna_Vijaya_Kumar/Documents/git-mck/promo/promo-ui-autom

[2021-09-23 06:40] amolkumar1331 commented on #2325
I have installed node,Gauge and Taiko.while running the script I am just using the command npm run tagname and post running this command i am getting the below error
Error: Cannot find module 'taiko'

and I have installed the taiko version 1.2.7
![image](https://user-images.githubusercontent.com/53901503/134464246-9d13be24-4be8-46ce-8bc8-6b7f43133b15.png)
![image](https://user-images.githubusercon

[2021-09-23 08:42] zabil commented on #2325
The taiko version you've installed is a global version, while the `gauge run` commands will need a local version of taiko installed. You need to run `npm install` command in the folder `gauge-taiko-template`

[2021-09-27 06:39] amolkumar1331 commented on #2325
Hi Zabil,

I am getting the below error post runnig the npm install command in Gauge-taiko template.

![image](https://user-images.githubusercontent.com/53901503/134856798-77512989-c3b9-4dd4-9cd7-2e895eccae11.png)
gyp ERR! find VS
gyp ERR! find VS msvs_version not set from command line or npm config
gyp ERR! find VS VCINSTALLDIR not set, not running in VS Command Prompt
gyp ERR! find VS could not

[2021-09-27 09:21] zabil commented on #2325
Looks like the error is not related to Taiko but about node and it's dependencies. There are a few answers available if you google search for the error for example.

https://stackoverflow.com/questions/57879150/how-can-i-solve-error-gypgyp-errerr-find-vsfind-vs-msvs-version-not-set-from-c

[2021-09-30 03:42] ankurnarkhede opened #2338 "Browser closes (Inspector.detached) on calling the page.close command"
**Describe the bug**
I am trying to run the taiko tests on chrome v93 another machine with OS MacOS Catalina. The function `pageHandler.closePage()` causes the browser to close and thus disconnecting the active websocket connections. I haven't been able to reproduce it in local machine, but got this error on multiple remote MacOS machines.

**To Reproduce**
Steps (or script) to reproduce the behav

[2021-09-30 03:43] ankurnarkhede commented on #2338
cc: @NivedhaSenthil

[2021-09-30 10:06] zabil commented on #2338
It looks like the newer versions of chrome is closing the browser for macos on remote machines
https://github.com/getgauge/taiko/blob/dec13ae3db953cd6c9cd6d20bcb4273138ccd32e/lib/connection.js#L130-L131

Can you send a PR with the line removed to check is the tests pass?

[2021-10-03 06:14] saikrishna321 commented on #2338
@ankurnarkhede Thanks for reporting. I tried to replicate it locally and couldn't.

Config:

[code]

[2021-10-05 18:47] ankur-lt commented on #2338
@saikrishna321 , yes, as per I mentioned in the issue description,  I haven't been able to reproduce it in local machine, but got this error on multiple remote MacOS machines.

[2021-10-05 18:48] ankurnarkhede commented on #2338
@saikrishna321 , yes, as per I mentioned in the issue description, I haven't been able to reproduce it in local machine, but got this error on multiple remote MacOS machines.

[2021-10-06 06:37] zabil commented on #2338
Can you explain a bit more about this setup? How do you run the tests in them?

[2021-10-06 11:57] ankurnarkhede commented on #2338
@zabil , we are starting a browser session on remote machine in debugger mode after getting the taiko openBrowser request. The client connects with the remote machine using the WS connection provided. The above error is received after every page.close command on the remote machines.

[2021-10-12 04:56] NivedhaSenthil commented on #716
Action can be forced with latest version of Taiko.. please try `await click('Execute Contract', { force: true })`

[2021-10-14 10:45] zabil commented on #1704
Closing this as the zoom value  should be 100% for the highlight to work.

[2021-10-14 10:45] #1704 closed

[2021-10-14 10:48] #1762 closed

[2021-10-20 10:02] #1832 closed

[2021-10-22 10:37] DrRuhe opened #2371 "goto('about:blank') does not work"
**To Reproduce**

[code]

**Logs**

[code]
[code]
**Expected behavior**
it opens the about:blank page

**Versions:**
 - Taiko: Version: 1.2.7 (Chromium: 88.0.4314.0) RELEASE
 - OS PopOS! 20.04 LTS
 - Node.js v16.11.0

[code]

[2021-10-22 11:51] DrRuhe opened #2372 "A way to reliably close all other tabs."
**Is your feature request related to a problem? Please describe.**
Using new Tabs for each Gauge test is a simple way to reduce weird navigation errors.
With lots of tests come lots of opened Tabs. I would like to close old tabs, but the URL is often too similar etc.

Closing all other Tabs is impossible(?) when the tab to stay open has the same URL as the ones to be closed.

**Describe the soluti

[2021-10-26 10:29] rahulrelicx opened #2375 "We need to add some delay between dragging and dropping in dragAndDrop command"
**Is your feature request related to a problem? Please describe.**

While dragging element (E1) onto element (E2), lots of modern apps expand E2's dropzone and then expect the user to drop E1. This will implicitly need the user to wait a bit between dragging E1 and dropping it on E2. However Taiko's `dragAndDrop` command is very fast and causes the dragAndDrop to fail in these kind of pages.

My r

[2021-10-27 13:16] ankur-lt opened #2378 "Ability to pass useHostName and secure parameters to chrome-remote-interface via taiko"
**Is your feature request related to a problem? Please describe.**
I am trying to run taiko tests on a remote machine. Taiko uses chrome-remote-interface which exposes the parameter `useHostName` to make HTTP calls with hostname rather than an IP address ([code](https://github.com/cyrus-and/chrome-remote-interface/blob/master/lib/external-request.js#L14-L23)).
Making a request with an IP address t

[2021-11-01 10:01] zabil commented on #2378
This makes sense. Please feel free to send a pull request with this change.

[2021-11-01 10:26] ankur-lt commented on #2378
@zabil , raise the above-mentioned PR. 👆

[2021-11-02 13:34] shaifaliyadav opened #2383 "[FAIL] Error: Chromium revision is not downloaded. Provide TAIKO BROWSER PATH or Install taiko again to download bundled chromium., run .trace for more info"
Error: Chromium revision is not downloaded. Provide TAIKO_BROWSER_PATH or Install taiko again to download bundled chromium.
    at BrowserFetcher.getExecutablePath (node_modules/taiko/lib/browserFetcher.js:237:13)
    at launchBrowser (node_modules/taiko/lib/browserLauncher.js:324:44)
    at module.exports.openBrowser (node_modules/taiko/lib/taiko.js:95:65)
    at module.exports.<computed> (node_m

[2021-11-02 13:37] shaifaliyadav commented on #2235
this issue still exists..Can someone please help. @zabil @saikrishna321

[2021-11-02 13:54] zabil commented on #2383
This is being tracked at https://github.com/getgauge/taiko/issues/2235

[2021-11-02 13:54] #2383 closed

[2021-11-02 13:55] zabil commented on #2235
Sorry to see that you are stuck with this issue but It's a bit hard to help with this as there is very little info to replicate it.

When creating a new issue there are a few sections to be filled up which helps find the actual problem. Those sections seem to be missing. Can you please fill up those sections? It has info about versions, environments, os, command to replicate it etc.

Without enoug

[2021-11-03 06:53] #2173 closed

[2021-11-05 14:29] DrRuhe commented on #2372
Thanks for the workaround. Since I cannot think of any scenario where taiko is not used in combination with some testing framework that provides afterHooks (as well as needing many tabs to be closed) I will close this issue.

[2021-11-05 14:29] #2372 closed

[2021-11-08 08:41] Avinash9271 opened #2386 "Ability of supporting xpath as a parameter to checkBox"
click($("/html/body/input[0]")) works, but  checkBox($("/html/body/input[0]")).check() doesn't.

checkBox($("/html/body/input[0]")).check() throws an error `Uncaught You are passing a `ElementWrapper` to a `checkBox` selector. Refer https://docs.taiko.dev/api/checkbox/ for the correct parameter`

Currently, checkBox is extending `elementWrapper`.
And, it's necessary that `elementWrapper` needs `at

[2021-11-08 10:02] Avinash9271 commented on #2386
Just realised there's already an issue opened. https://github.com/getgauge/taiko/issues/1519 (my bad, I should have searched it before!)

Dropped a comment in that issue referring to this one as well.

[2021-11-08 10:12] Avinash9271 commented on #2386
A note that I'd like to work on this. I'm unable to assign this to myself.

[2021-11-08 10:14] zabil commented on #2386
Sure, I can assign it to you. Just to clarify this won't break existing behaviour right? (i.e it should accept attribute value pairs too)

[2021-11-08 10:25] Avinash9271 commented on #2386
Just to clarify this won't break existing behaviour right? (i.e it should accept attribute value pairs too).

I doesn't break it. I tested it locally. And, it passes the already written tests (which considers attribute value pairs) too.

[2021-11-12 12:03] ida opened #2394 "Do not except error, if script contains repl() and is not executed by the taiko runner"
If a script contains `repl()` and is not executed with the `--load`-option, this warning gets printed on the console:

    [WARNING]: The "repl" api works only when the script is executed via taiko runner.

Failing would allow to have control over the cases:

    try {

        await repl()

    } catch(e) {

        /* Give a custom message, or even just fail silently. */

    }

In any way, a me

[2021-11-16 09:25] 0x12woo commented on #2235
You can download it yourself in package
` node node_modules\taiko\lib\install.js`

[2021-11-17 10:45] DrRuhe opened #2397 "closeBrowser throws error after closeTab when run Headless."
**Describe the bug**
using openTab and closeTab leads to closeBrowser throwing errors.

BUT ONLY WHEN RUN IN HEADLESS.

**To Reproduce**
[code]

**Logs**

[code]

**Expected behavior**
No crash

**Screenshots**

**Versions:**
 - Taiko: Version: 1.2.7 (Chromium: 88.0.4314.0) RELEASE
 - OS Pop!_OS 20.04 LTS
 - Node.js v16.11.0

[code]

**Additional context**
Add any other context about the problem h

[2021-11-20 11:43] ankur-lt commented on #2378
**Edit 1**: Taiko's `openBrowser` API also does not support passing the `secure` parameter (docs)[https://github.com/cyrus-and/chrome-remote-interface#cdpoptions-callback] to chrome-remote-interface. Thus, it can also be passed via the `openBrowser` API. Making PR changes to accommodate it.

[2021-11-20 20:19] #2394 closed

[2021-11-22 04:49] #2378 closed

[2021-11-22 09:43] ankur-lt commented on #2378
Thanks @NivedhaSenthil , @zabil !

[2021-12-01 02:23] hkang1 commented on #2397
We get the same error in our open source CI environment fairly frequently also. For us it occurs when just doing a series of React route changes in chromium (headless).

### Versions
- @getgauge/cli: 1.1.8
- taiko: 1.2.5
- node: 14.16.0

[CircleCI sample occurence](https://app.circleci.com/pipelines/github/determined-ai/determined/17232/workflows/4ed4546e-d765-44eb-b926-84fb64826d38/jobs/526256)
[

[2021-12-02 16:37] louislebrault commented on #2235
having the same issue on Manjaro 21.2.0

[2021-12-09 10:22] sanjeevaredddy opened #2432 "Getting frequent navigation delays for our scripts in taiko for the latest chrome version (96)"
The scripts are timed out in the latest version of chrome, but the same script works fine in the chromium browser.
Tried with the different waitforevents available in Taiko, but yet some of the issues are not fixed.

**Observation**: After performing the click or write action page seems to be completely loaded but getting navigation timeout error.
Are there any issues with TAIKO for latest version

[2021-12-13 01:11] taitems opened #2433 "waitFor(duration) should ignore global timeout"
**Is your feature request related to a problem? Please describe.**
If I want to `await waitFor(300e3)` to wait for 5 minutes, I hit the global timeout first and the test ends

**Describe the solution you'd like**
I'm not 100% on the solution, but perhaps really long wait times should not be bound to a global timeout, or should at least have an option to override the global for this invocation?

**

[2021-12-13 03:06] NivedhaSenthil commented on #2433
The global timeout in taiko should get overwritten by the one given at api level.. if the timeout you are facing is from Gauge please try updating the config in `env/default/js.properties` for step timeout.

[2021-12-13 03:10] taitems commented on #2433
Sorry, does API level mean as part of calling the `waitFor` or are you saying I need to explicitly override it?

[2021-12-13 03:24] NivedhaSenthil commented on #2433
I meant calling from `waitFor` here

[2021-12-14 11:11] sanjeevaredddy commented on #2432
Please let me know if you need more info.

[2021-12-14 12:13] zabil commented on #2432
Can you please share a sample script (not your project code) to replicate the issue?

[2021-12-22 18:42] akennealy opened #2441 "Taiko v1.2.8 isn't using the latest stable version of Chromium"
**Describe the bug**
Latest version of Taiko 1.2.8 is using an old version of chromium. `Chromium: 88.0.4314.0`. [package.json#L46](https://github.com/getgauge/taiko/blob/master/package.json#L46)

I see that the release notes for 1.2.7 has an entry for updating chromium to, which looks like it was just closed?
https://github.com/getgauge/taiko/pull/2200

[code]

**To Reproduce**
Steps to reproduce

[2021-12-28 08:39] dvag-michael-boiman commented on #2441
my tests are not running any more with the old chrome version. how can I change it manually ?

[2021-12-28 17:20] zabil commented on #2441
You can set `TAIKO_BROWSER_PATH` to point to an alternate browser executable.

More details at https://docs.taiko.dev/configuring_taiko/#using-environment-variables

[2022-01-03 12:04] dvag-michael-boiman commented on #2441
Thanks @zabil I will use it

[2022-01-04 18:25] yantxs opened #2448 "--enable-automation always true"
**Is your feature request related to a problem? Please describe.**

Theres a way to disable automated mode? Maybe a flag in openBrowser(disable-automation: true) seeing that by default "enable-automation" is set true.

**Describe the solution you'd like**

A flag to deactivate automated mode on browsers

[2022-01-04 22:02] dvag-michael-boiman commented on #2441
Hey @zabil do you have an URL 4 me?
`TAIKO_CHROMIUM_URL = https://github.com/macchrome/linchrome/releases/download/v96.0.4664.110-r929512-portable-ungoogled-Lin64/ungoogled-chromium_96.0.4664.110_1.vaapi_linux.tar.xz`
did not work

[2022-01-04 22:46] zabil commented on #2441
It's best to download chromium separately and then set the path to the executable using `TAIKO_BROWSER_PATH`

[2022-01-05 13:38] sriv commented on #2448
This was added by design, the benefits for `--enable-automation` flag are listed here: https://github.com/GoogleChrome/chrome-launcher/blob/master/docs/chrome-flags-for-tools.md#test--debugging-flags

It is more than just displaying the infobar. Curious to know why you'd like to disable this.

[2022-01-05 16:15] yantxs commented on #2448
Some tools doesn't work well in "automated mode"

[2022-01-18 02:07] NivedhaSenthil opened #2472 "Got error when using click({x: value, y:value})"
### Discussed in https://github.com/getgauge/taiko/discussions/2466

<div type='discussions-op-text'>

<sup>Originally posted by **windyliu1118** January 15, 2022</sup>
When I run the command below in taiko mode, I got some errors:
[code]

[2022-01-19 15:48] galliroberto commented on #467
Why? I expect a 404, ho to check the http status?

[2022-01-19 16:12] zabil commented on #467
This was done to point out failures if the original test page became obsolete and returned a 404.
If you want to test a 404 page you could catch the error and check the http status.

[2022-01-19 16:37] sriv commented on #467
you can also get the response in a variable and check it like this:

[code]

[2022-01-25 02:01] josephinePPT opened #2488 "Failed to start gauge API: Error occurred while waiting for runner process to finish."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps (or script) to reproduce the behavior:
Please help to see the log below. The error is failed to compare the gauge java version.

**Logs**
24-01-2022 23:50:42.307 [java] [DEBUG] JAVA_HOME: C:\Program Files\Java\ibm_sdk80
24-01-2022 23:50:42.307 [java] [DEBUG] gauge_project_root: C:\ndi-cp-cdi-automation

[2022-01-25 08:35] sriv commented on #2488
This looks like there is a mistake in `pom.xml` - could you please check if the dependency version is set correctly?

[2022-01-26 06:14] jasjw opened #2490 "unable to reduce screen size (zoom out)"
**Describe the bug**
unable to reduce screen by doing the following operation :
press(["Control","-"])

**To Reproduce**
Steps (or script) to reproduce the behavior:
1. Go to website
2. press(["Control","-"])
3. no changes

[2022-02-03 05:32] siarhei-cma opened #2504 "Memory leak when a browser tab is open/closed repeatedly"
**Describe the bug**
There is a memory leak in Taiko(?) that occurs when a new browser tab is open/closed repeatedly.
As a result of the leak, Gauge script crashes after a few minutes.
The issue is observed with Taiko v 1.2.8. It appears that the issue is not reproducible with Taiko v 1.0.8.

**To Reproduce**
Steps (or script) to reproduce the behavior:
1. Go to '.https://joulecma.ca/cpg/homepage/

[2022-02-03 11:06] sriv commented on #2504
Thank you for the detailed report @siarhei-cma . We had a similar issue reported but that was because of the taiko-screencast plugin. Just wanted to check if you are using any plugins with taiko?

[2022-02-03 15:36] siarhei-cma commented on #2504
I did not install any taiko plugins. Below is a screenshot of node_modeules folder:
![image](https://user-images.githubusercontent.com/67919685/152374900-ab2c4c75-7b85-4f1a-adc8-442870506007.png)

[2022-02-05 09:44] sriv commented on #2504
thanks again @siarhei-cma - I can replicate this issue. I'll look deeper

[2022-02-07 09:17] windyliu1118 opened #2508 "Got error when using click({x: value, y:value})"
### Discussed in https://github.com/getgauge/taiko/discussions/2466

<div type='discussions-op-text'>

<sup>Originally posted by **windyliu1118** January 15, 2022</sup>
When I run the command below in taiko mode, I got some errors:
[code]

[2022-03-04 14:07] zabil commented on #2448
The best workaround for now will be to patch the local installation of taiko to [comment](https://github.com/getgauge/taiko/blob/e5658da831829b19b385d05ee86c2a29d4d19a1a/lib/browserLauncher.js) out this directive.

[2022-03-04 14:07] #2448 closed

[2022-03-04 14:09] zabil commented on #2149
I believe this is now by [6de0160](https://github.com/getgauge/taiko/commit/6de0160291e2e2362075268702548a54af92e91b)

[2022-03-04 14:09] #2149 closed

[2022-03-04 14:12] zabil commented on #2221
More context from puppeteer
https://github.com/puppeteer/puppeteer#q-whats-the-difference-between-a-trusted-and-untrusted-input-event

[2022-03-09 12:12] arijit91 opened #2545 "Request interception does not pass original request headers"
**Describe the bug**
Request interception when headers passed as navigation options
does not pass on original request headers

Server uses basic http auth and another endpoint requires Accept headers.
I passed the Authorization headers for basic auth, future requests
were missing the Accept header that should be set automatically by the browser

**To Reproduce**
Created a simple HTTP server with b

[2022-03-10 13:48] zabil commented on #2545
The patch to pass original parameters makes sense. Please feel free to raise a pull request (and a test to cover this scenario)

[2022-03-11 05:07] wanderingeye8 commented on #353
@nehashri My test case failed and shows the error "TypeError: Cannot read property 'exceptionDetails' of undefined". Do you have any idea why this message is shown instead of the actual cause?

[2022-03-12 13:44] RobinMuenstermann opened #2550 "Taiko Animation Detection before Click"
**Is your feature request related to a problem? Please describe.**
Taiko clicks on elements, which are still animating. Because of an animation the element can move, which leads to wrong clicks, depending on the execution speed and the speed between getting the position of an element and the actual click. This leads to flakiness of tests/instable tests.

I created a project, which demonstrates the

[2022-03-12 16:21] saikrishna321 commented on #2550
Thanks for reporting. Will take a look.

Currently taiko waits for the element to be stable before performing the click. Let me see the project which you have shared.

[2022-03-12 17:09] RobinMuenstermann commented on #2550
Thank you for having a look. I implemented a first idea, how an animation could be detected in the "waitForAnimation" function in https://github.com/RobinMuenstermann/taiko_animation/blob/master/tests/steps.js